{% extends 'app/layouts/main.html' %}
{% block title %}
 Probe-3 Page
{% endblock title %}
{% block content %}
<style>
    
    input[type="radio"]:checked + label{
        background-color: red;
        color: black;
    }
    
    input[type="radio"]:checked + label:before{
        background-color: red;
        color: black;
    }
    
    label:before{
        background-color: orange;
    }
    
    label{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 50px;
        background-color: orange;
    }
    
    
    </style>
<center style="color: white; text-shadow: 2px 2px 4px #000000;">
    <h1>PROBE CALIBRATION </h1></center>
{% include 'app/inc/nav.html' %}
<div class="container">
    <div class="card">
        <div class="card-image"></div>
            <section class="container-a"><b>Probe Count</b></section>
            <section class="container-b"><b>Coefficient</b></section>
            <section class="container-c"><b>Probe Correction</b></section>
            <section class="container-d"><b>High Ref.Value</b></section>
            <section class="container-e"><b>Low Ref.Value</b></section>
            <section class="container-f"><b>Reading</b></section>
        </div>
    <div class="card">
        <input type="radio" name="size" id="Probe-15">
        <label for="Probe-15"><b>Probe-15</b></label>
        <section class="container-a">""</section>
        <section class="container-b">""</section>
        <section class="container-c">""</section>
        <section class="container-d">""</section>
        <section class="container-e">""</section>
        <section class="container-f">""</section>
    </div>
    <div class="card">
        <input type="radio" name="size" id="Probe-16">
        <label for="Probe-16"><b>Probe-16</b></label>
        <section class="container-a">""</section>
        <section class="container-b">""</section>
        <section class="container-c">""</section>
        <section class="container-d">""</section>
        <section class="container-e">""</section>
        <section class="container-f">""</section>
    </div>
    <div class="card">
        <input type="radio" name="size" id="Probe-17">
        <label for="Probe-17"><b>Probe-17</b></label>
        <section class="container-a">""</section>
        <section class="container-b">""</section>
        <section class="container-c">""</section>
        <section class="container-d">""</section>
        <section class="container-e">""</section>
        <section class="container-f">""</section>
    </div>
    <div class="card">
        <input type="radio" name="size" id="Probe-18">
        <label for="Probe-18"><b>Probe-18</b></label>
        <section class="container-a">""</section>
        <section class="container-b">""</section>
        <section class="container-c">""</section>
        <section class="container-d">""</section>
        <section class="container-e">""</section>
        <section class="container-f">""</section>
    </div>
    <div class="card">
        <input type="radio" name="size" id="Probe-19">
        <label for="Probe-19"><b>Probe-19</b></label>
        <section class="container-a">""</section>
        <section class="container-b">""</section>
        <section class="container-c">""</section>
        <section class="container-d">""</section>
        <section class="container-e">""</section>
        <section class="container-f">""</section>
    </div>
    <div class="card">
        <input type="radio" name="size" id="Probe-20">
        <label for="Probe-20"><b>Probe-20</b></label>
        <section class="container-a">""</section>
        <section class="container-b">""</section>
        <section class="container-c">""</section>
        <section class="container-d">""</section>
        <section class="container-e">""</section>
        <section class="container-f">""</section>
    </div>
    <div class="card">
        <input type="radio" name="size" id="Probe-21">
        <label for="Probe-21"><b>Probe-21</b></label>
        <section class="container-a">""</section>
        <section class="container-b">""</section>
        <section class="container-c">""</section>
        <section class="container-d">""</section>
        <section class="container-e">""</section>
        <section class="container-f">""</section>
    </div>
</div>
<button type="button" class="btn btn-danger float-start mx-1 my-3" style="width:250px;border-radius: 15px"><b>Low Reference</b></button>
<button type="button" class="btn btn-danger float-start mx-2 my-3" style="width:250px; border-radius: 15px"><b>High Reference</b></button>
<button type="button" class="btn btn-danger float-end mx-5 my-3" style="width:100px;border-radius: 25px"><a style="text-decoration: none;
    color:white;" href="{% url 'index' %}"><b>Cancel</b></a></button>
{% endblock %}