{% extends 'app/layouts/main.html' %}
{% block title %}
Probe-1 Page
{% endblock title %}
{% block content %}
<style>
    
input[type="radio"]:checked + label{
    background-color: red;
    color: black;
}

input[type="radio"]:checked + label:before{
    background-color: red;
    color: black;
}

label:before{
    background-color: orange;
}

label{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
    background-color: orange;
}



</style>
<pre id="selected-probe" style="color: white; text-shadow: 2px 2px 4px #000000;
margin-left: 400px;font-size:30px;">
Selected Probe
</pre>
{% include 'app/inc/nav.html' %}
<div class="container" style="margin-top: 10px;">
    <div class="card">
        <div class="card-image"></div>
        <section class="container-a"><b>Probe Count</b></section>
        <section class="container-b"><b>Coefficient</b></section>
        <section class="container-c"><b>Probe Correction</b></section>
        <section class="container-d"><b>High Ref.Value</b></section>
        <section class="container-e"><b>Low Ref.Value</b></section>
        <section class="container-f"><b>Reading</b></section>
    </div>

    <div class="card" id="card-1">
        <input type="radio" name="size" id="radio-1" onclick="setCurrentProbe('Probe-1')">
        <label for="Probe-1"><b>Probe-1</b></label>
        <textarea id="probe-A" style="max-height: 100px;"></textarea>
        <input type="text" class="container-b" id="container-b-1" oninput="allowOnlyNumbers(this)">
        <section class="container-c">1.0000</section>
        <input type="text" class="container-d" id="container-d-1" oninput="allowOnlyNumbers(this)">
        <input type="text" class="container-e" id="container-e-1" oninput="checkAndEnterValue('Probe-1', this.value),allowOnlyNumbers(this)">
        <input type="text" readonly class="container-f" id="container-f-1" oninput="allowOnlyNumbers(this)">
      </div>
    <div class="card" id="card-2">
        <input type="radio" name="size" id="radio-2" onclick="setCurrentProbe('Probe-2')">
        <label for="Probe-2"><b>Probe-2</b></label>
        <textarea id="probe-B" style="max-height: 100px;"></textarea>
        <input type="text" class="container-b" id="container-b-2" oninput="allowOnlyNumbers(this)">
        <section class="container-c">1.0000</section>
        <input type="text" class="container-d" id="container-d-2" oninput="allowOnlyNumbers(this)">
        <input type="text" class="container-e" id="container-e-2"oninput="checkAndEnterValue('Probe-2', this.value),allowOnlyNumbers(this)">
        <input type="text"readonly class="container-f" id="container-f-2" oninput="allowOnlyNumbers(this)">
    </div>
    <div class="card" id="card-3">
        <input type="radio" name="size" id="radio-3" onclick="setCurrentProbe('Probe-3')">
        <label for="Probe-3"><b>Probe-3</b></label>
        <textarea id="probe-C" style="max-height: 100px;"></textarea>
        <input type="text" class="container-b" id="container-b-3" oninput="allowOnlyNumbers(this)">
        <section class="container-c">1.0000</section>
        <input type="text" class="container-d" id="container-d-3" oninput="allowOnlyNumbers(this)">
        <input type="text" class="container-e" id="container-e-3"oninput="checkAndEnterValue('Probe-3', this.value),allowOnlyNumbers(this)" >
        <input type="text"readonly class="container-f" id="container-f-3" oninput="allowOnlyNumbers(this)">
    </div>
    <div class="card" id="card-4">
        <input type="radio" name="size" id="radio-4" onclick="setCurrentProbe('Probe-4')">
        <label for="Probe-4"><b>Probe-4</b></label>
        <textarea id="probe-D" style="max-height: 100px;"></textarea>
        <input type="text" class="container-b" id="container-b-4" oninput="allowOnlyNumbers(this)">
        <section class="container-c">1.0000</section>
        <input type="text" class="container-d" id="container-d-4" oninput="allowOnlyNumbers(this)">
        <input type="text" class="container-e" id="container-e-4" oninput="checkAndEnterValue('Probe-4', this.value),allowOnlyNumbers(this)">
        <input type="text" readonly class="container-f" id="container-f-4" oninput="allowOnlyNumbers(this)">
    </div>
    <div class="card" id="card-5">
        <input type="radio" name="size" id="radio-5" onclick="setCurrentProbe('Probe-5')">
        <label for="Probe-5"><b>Probe-5</b></label>
        <textarea id="probe-E" style="max-height: 100px;"></textarea>
        <input type="text" class="container-b" id="container-b-5" oninput="allowOnlyNumbers(this)">
        <section class="container-c">1.0000</section>
        <input type="text" class="container-d" id="container-d-5" oninput="allowOnlyNumbers(this)">
        <input type="text" class="container-e" id="container-e-5" oninput="checkAndEnterValue('Probe-5', this.value),allowOnlyNumbers(this)">
        <input type="text" readonly class="container-f" id="container-f-5" oninput="allowOnlyNumbers(this)">
    </div>
    <div class="card" id="card-6">
        <input type="radio" name="size" id="radio-6" onclick="setCurrentProbe('Probe-6')">
        <label for="Probe-6"><b>Probe-6</b></label>
        <textarea id="probe-F" style="max-height: 100px;"></textarea>
        <input type="text" class="container-b" id="container-b-6" oninput="allowOnlyNumbers(this)">
        <section class="container-c">1.0000</section>
        <input type="text" class="container-d" id="container-d-6" oninput="allowOnlyNumbers(this)">
        <input type="text" class="container-e" id="container-e-6" oninput="checkAndEnterValue('Probe-6', this.value),allowOnlyNumbers(this)">
        <input type="text" readonly class="container-f" id="container-f-6" oninput="allowOnlyNumbers(this)">
    </div>
    <div class="card" id="card-7">
        <input type="radio" name="size" id="radio-7" onclick="setCurrentProbe('Probe-7')">
        <label for="Probe-7"><b>Probe-7</b></label>
        <textarea id="probe-G" style="max-height: 100px;"></textarea>
        <input type="text" class="container-b" id="container-b-7" oninput="allowOnlyNumbers(this)">
        <section class="container-c">1.0000</section>
        <input type="text" class="container-d" id="container-d-7" oninput="allowOnlyNumbers(this)">
        <input type="text" class="container-e" id="container-e-7"oninput="checkAndEnterValue('Probe-7', this.value),allowOnlyNumbers(this)">
        <input type="text" readonly class="container-f" id="container-f-7" oninput="allowOnlyNumbers(this)">
    </div>
</div>

<pre id="calibration-info" style="color: white; text-shadow: 2px 2px 4px #000000; margin-top: 5px; margin-left: 250px; font-size: 20px;">
</pre>

<button onclick="captureLowReference()" id="lowReferenceBtn" type="button"><b>Low Reference</b></button>
<button onclick="captureHighReference()" id="highReferenceBtn" type="button"><b>High Reference</b></button>

<a href="{% url 'index' %}" >
  <button type="button" id="cancel-button"><b>BACK</b></button>
</a>

<script>
    function updateSerialData() {
        // Make an AJAX request to your Django view
        $.ajax({
            url: '/probe1/',  // Replace with the correct URL
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                var serialData = data.serial_data;

                // Update the textarea with data from data_to_display
                $('#probe-A').text(serialData['A']);
                $('#probe-B').text(serialData['B']);
                $('#probe-C').text(serialData['C']);
                $('#probe-D').text(serialData['D']);
                $('#probe-E').text(serialData['E']);
                $('#probe-F').text(serialData['F']);
                $('#probe-G').text(serialData['G']);
                // Add similar lines for other probes

                // Scroll the textarea to view the last line
                $('.card textarea').each(function() {
                    $(this).scrollTop($(this)[0].scrollHeight);
                });
            },
            error: function(error) {
                console.error('Error updating serial data:', error);
            }
        });
    }
    // Update the serial data every 1 second (adjust the interval as needed)
    setInterval(updateSerialData, 0.5); // Update every second (1000 ms)

    function allowOnlyNumbers(inputElement) {
      // Remove non-numeric characters
      inputElement.value = inputElement.value.replace(/[^0-9,.,-]/g, '');
    }

    document.getElementById("highReferenceBtn").disabled = true;
    document.getElementById("highReferenceBtn").style.opacity = '0.6';
    document.getElementById("lowReferenceBtn").disabled = true;
    document.getElementById("lowReferenceBtn").style.opacity = '0.6';


    function checkAndEnterValue(probe, value) {
        var radioId = "radio-" + probe.split('-')[1];

        if (!document.getElementById(radioId).checked) {
            alert("Please select the radio button for " + probe + " before entering values!");
            // Clear the entered value to prevent further issues
            document.getElementById("container-e-" + probe.split('-')[1]).value = "";
        } else {
            // Your existing logic for entering values
        }
    }
    

  
let currentSelectedCard = null;
let a = [];
let a1 = [];
let b = [];
let b1 = [];
let c = [];
let c1 = [];
let d = [];
let e = [];

function setCurrentProbe(probeId) {
    // Reset previous selected card color (optional)
    if (currentSelectedCard) {
        currentSelectedCard.style.backgroundColor = ''; // Reset to default color
    }

    // Update currentSelectedCard to the newly selected card
    currentSelectedCard = document.getElementById(`card-${probeId}`);
    $('#selected-probe').text('Selected Probe: ' + probeId);
    $('#calibration-info').text('Load probe at middle and do LOW Calibration for selected probe');
    document.getElementById("highReferenceBtn").disabled = true;
    document.getElementById("highReferenceBtn").style.opacity = '0.6';
    document.getElementById("lowReferenceBtn").disabled = false;
    document.getElementById("lowReferenceBtn").style.opacity = '1';

    // Change the background color of the selected card to red
    if (currentSelectedCard) {
        currentSelectedCard.style.backgroundColor = 'red';
    }
}


function captureLowReference() {
	document.getElementById('calibration-info').innerText = "LOW Calibration completed. Do HIGH Calibration for selected probe";
   document.getElementById("highReferenceBtn").disabled = false;
   document.getElementById("highReferenceBtn").style.opacity = '1';
  document.getElementById("lowReferenceBtn").disabled = true;
   document.getElementById("lowReferenceBtn").style.opacity = '0.6';


    if (currentSelectedCard) {
        a = [];
        a1 = [];

        const containerEValue = currentSelectedCard.querySelector('.container-e').value;
        const aValue = parseFloat(containerEValue);
        a.push(!isNaN(aValue) ? aValue : NaN);

        const a1Element = currentSelectedCard.querySelector('textarea');
        const a1Value = parseFloat(a1Element.value);
        a1.push(!isNaN(a1Value) ? a1Value : NaN);

        console.log('Captured low reference values:', a, a1);

        

        // Perform actions with 'a' and 'a1' values as needed...
    } else {
        console.log('No card selected.');
    }
}

function captureHighReference() {
  document.getElementById('calibration-info').innerText = "HIGH Calibration completed for selected probes";
  document.getElementById("highReferenceBtn").disabled = true;
  document.getElementById("highReferenceBtn").style.opacity = '0.6';
  document.getElementById("lowReferenceBtn").disabled = true;
  document.getElementById("lowReferenceBtn").style.opacity = '0.6';
  
  if (currentSelectedCard) {
        b = [];
        b1 = [];
        c = [];
        c1 = [];
        d = [];
        e = [];

        const containerDValue = currentSelectedCard.querySelector('.container-d').value;
        const bValue = parseFloat(containerDValue);
        b.push(!isNaN(bValue) ? bValue : NaN);

        const b1Element = currentSelectedCard.querySelector('textarea');
        const b1Value = parseFloat(b1Element.value);
        b1.push(!isNaN(b1Value) ? b1Value : NaN);

        if (!isNaN(b[0]) && !isNaN(b1[0]) && !isNaN(a[0]) && !isNaN(a1[0])) {
            const cValue = b[0] - a[0];
            const c1Value = b1[0] - a1[0];
            c.push(cValue);
            c1.push(c1Value);

            if (c1Value !== 0) {
                const dValue = cValue / c1Value;
                const eValue = dValue / 1000;
                d.push(dValue);
                e.push(eValue);

                const containerBElement = currentSelectedCard.querySelector('.container-b');
                if (containerBElement) {
                    containerBElement.value = eValue.toFixed(12);
                }
            }
        }

        console.log('Captured high reference values:', b, b1, d, c, c1, e);
            // Get CSRF token from the cookie
            const csrftoken = getCookie('csrftoken');

            if (currentSelectedCard) {
            const selectedProbeId = currentSelectedCard.id.split('-')[1]; // Extracting the probe ID from the card ID

        // Only send the selected card ID and captured values to the backend
        $.ajax({
            type: 'POST',
            url: '/probe1/',  // Update with your actual backend endpoint
            data: {
                'probeId': 'probe-'+ selectedProbeId,
                'a':a,
                'a1':a1,
                'b': b,
                'b1': b1,
                'e': e
            },
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
        });

            // Perform actions with 'a' and 'a1' values as needed...
            } else {
            console.log('No card selected.');
}   
}
}

function calculateAndDisplayResult() {
    if (currentSelectedCard) {
        const realDataElement = currentSelectedCard.querySelector('textarea');
        const realData = parseFloat(realDataElement.value);

        if (!isNaN(realData) && !isNaN(a1[0]) && !isNaN(d[0])) {
            const result = (realData - a1[0]) * d[0];

            const containerFElement = currentSelectedCard.querySelector('.container-f');
            if (containerFElement) {
                containerFElement.value = result.toFixed(4);
            }

            console.log('Result:', result);
        } else {
            console.log('Invalid or missing data for calculation.');
        }
    } else {
        console.log('No card selected.');
    }
}
setInterval(calculateAndDisplayResult,0.5);


// Loop through each radio button to add event listeners
for (let i = 1; i <= 7; i++) {
    const radioId = `radio-${i}`;
    document.getElementById(radioId).addEventListener('click', function () {
        setCurrentProbe(i);
    });
}

// Function to get the CSRF token from the cookie
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>

{% endblock %}




