{% extends 'app/layouts/main.html' %}
{% block title %}
 Probe-5 Page
{% endblock title %}
{% block content %}
<center style="color: white; text-shadow: 2px 2px 4px #000000;">
    <h1>PROBE CALIBRATION </h1></center>
{% include 'app/inc/nav.html' %}
<div class="container">
    <div class="card">
        <div class="card-image"></div>
            <section class="container-a"><b>Probe Count</b></section>
            <section class="container-b"><b>Coefficient</b></section>
            <section class="container-c"><b>Probe Correction</b></section>
            <section class="container-d"><b>High Ref.Value</b></section>
            <section class="container-e"><b>Low Ref.Value</b></section>
            <section class="container-f"><b>Reading</b></section>
        </div>
    <div class="card">
        <input type="radio" name="size" id="Probe-29">
        <label for="Probe-29"><b>Probe-29</b></label>
        <section class="container-a">""</section>
        <section class="container-b">""</section>
        <section class="container-c">""</section>
        <section class="container-d">""</section>
        <section class="container-e">""</section>
        <section class="container-f">""</section>
    </div>
    <div class="card">
        <input type="radio" name="size" id="Probe-30">
        <label for="Probe-30"><b>Probe-30</b></label>
        <section class="container-a">""</section>
        <section class="container-b">""</section>
        <section class="container-c">""</section>
        <section class="container-d">""</section>
        <section class="container-e">""</section>
        <section class="container-f">""</section>
    </div>
    <div class="card">
        <input type="radio" name="size" id="Probe-31">
        <label for="Probe-31"><b>Probe-31</b></label>
        <section class="container-a">""</section>
        <section class="container-b">""</section>
        <section class="container-c">""</section>
        <section class="container-d">""</section>
        <section class="container-e">""</section>
        <section class="container-f">""</section>
    </div>
    <div class="card">
        <input type="radio" name="size" id="Probe-32">
        <label for="Probe-32"><b>Probe-32</b></label>
        <section class="container-a">""</section>
        <section class="container-b">""</section>
        <section class="container-c">""</section>
        <section class="container-d">""</section>
        <section class="container-e">""</section>
        <section class="container-f">""</section>
    </div>
    <div class="card">
        <input type="radio" name="size" id="Probe-33">
        <label for="Probe-33"><b>Probe-33</b></label>
        <section class="container-a">""</section>
        <section class="container-b">""</section>
        <section class="container-c">""</section>
        <section class="container-d">""</section>
        <section class="container-e">""</section>
        <section class="container-f">""</section>
    </div>
    <div class="card">
        <input type="radio" name="size" id="Probe-34">
        <label for="Probe-34"><b>Probe-34</b></label>
        <section class="container-a">""</section>
        <section class="container-b">""</section>
        <section class="container-c">""</section>
        <section class="container-d">""</section>
        <section class="container-e">""</section>
        <section class="container-f">""</section>
    </div>
    <div class="card">
        <input type="radio" name="size" id="Probe-35">
        <label for="Probe-35"><b>Probe-35</b></label>
        <section class="container-a">""</section>
        <section class="container-b">""</section>
        <section class="container-c">""</section>
        <section class="container-d">""</section>
        <section class="container-e">""</section>
        <section class="container-f">""</section>
    </div>
</div>
<button type="button" class="btn btn-danger float-start mx-1 my-3" style="width:250px;border-radius: 15px"><b>Low Reference</b></button>
<button type="button" class="btn btn-danger float-start mx-2 my-3" style="width:250px; border-radius: 15px"><b>High Reference</b></button>
<button type="button" class="btn btn-danger float-end mx-5 my-3" style="width:100px;border-radius: 25px"><a style="text-decoration: none;
    color:white;" href="{% url 'index' %}"><b>Cancel</b></a></button>
{% endblock %}