{% extends 'app/layouts/main.html' %}
{% block title %}
Mastering Page
{% endblock title %}
{% block content %}
<style>
   .full-page-box {
        display: flex;
        flex-direction: column;
        background-color: lightblue;
        padding: 20px; 
        box-sizing: border-box;
        
    }

    .left-box {
        width: 350px;
        height: 100px;
        background-color: white; 
        margin-right: 10px;
        border: 2px solid black; 
    }
    label {
            display: inline-block;
            width: 150px; 
            margin-top: 15px;
            text-align: center;
            font-weight: bold;
        }

        select {
            margin-top: 10px;
            box-sizing: border-box;
            width: 50%; 
            height: 30px;
        } 
        #cancel-btn{
            background-color: orange;
            color:black;
            height: 40px;
            width: 130px;
            margin-left: 10px;
            margin-top: 10px;
              
        }
        #select-btn{
            background-color: green;
            color:black;           
            height: 40px;
            width: 130px; 
            margin-left: 65px; 
            margin-top: 10px;
        }
        #lowMasterBtn,#highMasterBtn{
            width: 250px;
            height: 40px;
            margin-left: 950px;
            margin-top: -60px;
            background-color: blue;
            color: white;
        }
        #highMasterBtn{    
            margin-top: 10px;   
        }
        
        .input-box-container {
            border: 2px solid black;
            padding: 10px;
            width: 180px;
            height: 140px;
            margin: 30px;
            box-sizing: border-box;
            
        }
        .master_input {
            margin-bottom: 10px;
            width: 42%;
            box-sizing: border-box;
        }

        #container-wrapper {
        display: flex;
        flex-wrap: wrap;
        }

        #probe-A,
        #probe-B,
        #probe-C,
        #probe-D,
        #probe-E,
        #probe-F,
        #probe-G,
        #probe-H,
        #probe-I,
        #probe-J,
        #probe-K {
            display: inline-block;
            max-height: 100px;
            width: 100px;
            margin-right: 10px; 
            display: none;
        }

       #pre{
        margin-left: 400px;
        margin-top: -50px;
        color:red;
        text-shadow: 2px 2px 4px white;
        font-size: 20px;

       }
       
       
</style>


<div class="full-page-box" style="overflow-x: auto;overflow-y:auto;">
    <div class="left-box">
        <label for="partModel">PART MODEL:</label>
        <select id="partModel" name="partModel">
            {% for value in part_model_values %}
                <option value="{{ value }}">{{ value }}</option>
            {% endfor %}
        </select>
        <button type="button" id="cancel-btn"><b>Cancel</b></button>
        <button type="button" id="select-btn"><b>Select</b></button>
    </div>
    <label for="all_parameter" style="margin-left: 400px; margin-top: -80px;">
        All Parameter
        <input type="radio" style="margin-left: 10px;" id="all_parameter" onclick="handleRadioClick(this)">
    </label>
    
    <label for="parameterwise" style="margin-left: 400px;">
        Parameterwise
        <input type="radio" style="margin-left: 7px;" id="parameterwise" onclick="handleRadioClick(this)">
    </label><br>
    
    <label for="mastering" style="margin-left: 570px;margin-top: -80px;">MASTERING GROUP:</label>
    <select id="mastering"  style="width: 15%;margin-left: 700px;margin-top: -40px;" name="mastering" >
        <script>
            for (var i = 1; i <= 30; i++) {
                document.write('<option value="' + i + '">' + i + '</option>');
            }
        </script>
    </select>
    <button id="lowMasterBtn" type="button" onclick="lowMasteringClick()"><b>Low Mastering</b></button>
    <button id="highMasterBtn" type="button" onclick="highMasteringClick()"><b>High Mastering</b></button>

    

    <div id="clock" style="margin-top: 20px;">
        <div class="box" id="clock-box" style="border: 1px solid black; padding: 10px; max-width: 100px;margin-top: -10px;"></div>
    </div>

    <pre id="pre" ></pre><br><br>

    <div style="border-bottom: 2px solid black; margin-top: 0px;"></div>

   
    <textarea id="probe-A"></textarea>
    <textarea id="probe-B"></textarea>
    <textarea id="probe-C"></textarea>
    <textarea id="probe-D"></textarea>
    <textarea id="probe-E"></textarea>
    <textarea id="probe-F"></textarea>
    <textarea id="probe-G"></textarea>
    <textarea id="probe-H"></textarea>
    <textarea id="probe-I"></textarea>
    <textarea id="probe-J"></textarea>
    <textarea id="probe-K"></textarea>
    

    <div id="container-wrapper"></div>
</div>


<script>


function updateClock() {
        var now = new Date();
        var hours = now.getHours();
        var minutes = now.getMinutes();
        var seconds = now.getSeconds();
        var day = now.getDate();
        var month = now.getMonth() + 1; // January is 0, so we add 1 to get the actual month
        var year = now.getFullYear();

        // Format the time string
        var timeString = hours + ":" + minutes + ":" + seconds;

        // Format the date string
        var dateString = day + "/" + month + "/" + year;

        var dateTimeString =  timeString + "<br>" + dateString;


        document.getElementById("clock-box").innerHTML = dateTimeString;

        // Call this function again after 1 second
        setTimeout(updateClock, 1000);
    }

    // Call the function to initially display the clock
    updateClock();

function handleRadioClick(clickedRadio) {
    var allParameterRadio = document.getElementById('all_parameter');
    var parameterwiseRadio = document.getElementById('parameterwise');
    var containerRadioButtons = document.querySelectorAll('[name="radio-container"]');
    var preTag = document.getElementById('pre');

    // Unselect the other radio button
    if (clickedRadio.id === 'all_parameter' && parameterwiseRadio.checked) {
            parameterwiseRadio.checked = false;
        } else if (clickedRadio.id === 'parameterwise' && allParameterRadio.checked) {
            allParameterRadio.checked = false;
        }


    else if (clickedRadio.id === 'all_parameter') {
        // Hide container radio buttons if 'All Parameter' radio button is clicked
        toggleContainerRadioButtons(false);
        preTag.innerText = 'All Parameters are selected.';

    } else if (clickedRadio.id === 'parameterwise') {
        // Show container radio buttons if 'Parameterwise' radio button is clicked
        toggleContainerRadioButtons(true);
        preTag.innerText = 'Parameterwise is selected.';

    }
}

// Function to toggle container radio buttons visibility
function toggleContainerRadioButtons(show) {
    const containerRadioButtons = document.querySelectorAll('[name="radio-container"]');
    containerRadioButtons.forEach(radioButton => {
        radioButton.style.display = show ? 'inline' : 'none';
    });
}
window.addEventListener('load',function(){
    toggleContainerRadioButtons(false);
});


// Event listeners for radio buttons
document.getElementById('all_parameter').addEventListener('change', function() {
    if (this.checked) {
        handleRadioClick(this);
    }
});

document.getElementById('parameterwise').addEventListener('change', function() {
    if (this.checked) {
        handleRadioClick(this);
    }
});
///////////////////////////////////////////



// Event listener for the "All Parameter" radio button
document.getElementById('all_parameter').addEventListener('change', function() {
    if (this.checked) {
        displayAllContainerValues();
    }
    console.log("you are select the all parameter now");
});

// Function to display values for all containers
function displayAllContainerValues() {
    const containers = document.querySelectorAll('.input-box-container');
    containers.forEach(container => {
        displayContainerValues(container);
    });
}


//////////////////////////////
    // Generate 50 input-box-container elements
    for (let i = 1; i <= 50; i++) {
        // Create a new container div
        const container = document.createElement('div');
        container.className = 'input-box-container';
        container.id = 'container-' + i;

        // Create radio button
        const radioButton = document.createElement('input');
        radioButton.type = 'radio';
        radioButton.name ='radio-container';
        radioButton.id = 'container-' + i + '_radioButton';
        radioButton.style.marginLeft = '70px';
        radioButton.style.marginTop = '0px';
        radioButton.addEventListener('change',function(){
            if (this.checked){
                console.log("selected radio button id:",this.id);
                displayContainerValues(container);
            }
        })
        container.appendChild(radioButton);
        container.appendChild(document.createElement('br'));
        toggleContainerRadioButtons(false);

         // Append container to the document body or any other container
    document.body.appendChild(container);


    let probeNo;
const a1 ={}; // lowcount
const b1 ={}; // highcount
let callingFunction;
let a; // low master
let b; // high master
let e; // nominal
let d; // coefficient
let o1; // offset


function displayContainerValues(container) {
    const inputs = container.querySelectorAll('.master_input');
    const values = {};

    inputs.forEach(input => {
        const inputName = mapInputIdToName(input.id);
        values[inputName] = input.value;
    });

    const preElement = container.querySelector('pre');
    const preValue = preElement ? preElement.textContent.trim() : '';

    values['preValue'] = preValue;

    // Rename keys as needed
    const a = parseFloat(values['low_mv']);
    const b = parseFloat(values['high_mv']);
    const e = parseFloat(values['nominal']);

    console.log("Container values:", values);
    console.log("a:", a);
    console.log("b:", b);
    console.log("e:", e);

    // Map probe numbers to corresponding textarea IDs
    const probeNo = values['probe_no'];

    if (probeNo) {
        const probeTextareaId = mapProbeToTextareaId(probeNo);
        const probeTextarea = document.getElementById(probeTextareaId);

        if (probeTextarea) {
            const valueInTextarea = probeTextarea.value;
            console.log('Value in textarea:', probeTextareaId);

            // Save the value based on the calling function
            if (callingFunction === 'lowMasteringClick') {
                // Store a1 value for the current container
                a1[container.id] = parseFloat(valueInTextarea);
                console.log("Saving value as 'a1':", a1[container.id]);
            } else if (callingFunction === 'highMasteringClick') {
                // Store b1 value for the current container
                b1[container.id] = parseFloat(valueInTextarea);
                console.log("Saving value as 'b1':", b1[container.id]);

                // Perform calculations and display the output
                const c = b - a;
                const c1 = b1[container.id] - a1[container.id];
                const d = c / c1;
                const o = e + (a1[container.id] * d);
                const o1 = a - o;

                console.log("c:", c);
                console.log("c1:", c1);
                console.log("d:", d);
                console.log("o:", o);
                console.log("offset value:", o1);
                console.log("container value id:", container.id);

                // Function to handle serial data changes
                function handleSerialDataChange(newSerialData) {
                    // Call calculateMastering with the appropriate values and newSerialData
                    calculateMastering(e, d, o1, newSerialData, container.id);
                }

                // Get the initial serialData by calling displaySerialData
                const initialSerialData = displaySerialData(container, handleSerialDataChange);

                if (initialSerialData !== null) {
                    // Call calculateMastering with the appropriate values and initialSerialData
                    calculateMastering(e, d, o1, initialSerialData, container.id);
                }
            }
        }
    }
    return a;
}


function lowMasteringClick() {
        console.log("lowMasteringClick");

        const preTag = document.getElementById('pre');

        if (document.getElementById('all_parameter').checked) {
            const containers = document.querySelectorAll('.input-box-container');
            containers.forEach(container => {
                callingFunction = 'lowMasteringClick';

                // Capture the returned value of 'a' from displayContainerValues
                const a = displayContainerValues(container);

                // Assuming 'a' is the value you want to display
                console.log("Value of 'a':", a);

                const additionalInput = document.getElementById(container.id + '_additional_input');
                if (additionalInput) {
                    additionalInput.value = a;  // Set the value of the additional input field
                } else {
                    console.error('Additional input field not found for container:', container.id);
                }
            });

            // Display notification for low mastering in the pre tag
            preTag.innerText = 'All Parameter Low Mastering selected.';

        } else if (document.getElementById('parameterwise').checked) {
            const container = getSelectedContainer();
            callingFunction = 'lowMasteringClick';

            // Capture the returned value of 'a' from displayContainerValues
            const a = displayContainerValues(container);

            // Assuming 'a' is the value you want to display
            console.log("Value of 'a':", a);

            const additionalInput = document.getElementById(container.id + '_additional_input');
            if (additionalInput) {
                additionalInput.value = a;  // Set the value of the additional input field
            } else {
                console.error('Additional input field not found for container:', container.id);
            }

            // Display notification for low mastering in the pre tag
            preTag.innerText = 'Parameterwise Low Mastering selected.';
        }
    }

    function highMasteringClick() {
        console.log("highMasteringClick");

        const preTag = document.getElementById('pre');

        if (document.getElementById('all_parameter').checked) {
            const containers = document.querySelectorAll('.input-box-container');
            containers.forEach(container => {
                callingFunction = 'highMasteringClick';
                displayContainerValues(container);
            });

            // Assuming you want to update additional input values after all containers are processed
            updateAllParameterValues();

            // Display notification for high mastering in the pre tag
            preTag.innerText = 'All Parameter High Mastering selected.';

        } else if (document.getElementById('parameterwise').checked) {
            const container = getSelectedContainer();
            callingFunction = 'highMasteringClick';
            displayContainerValues(container);

            updateAdditionalInputValue(m);

            // Display notification for high mastering in the pre tag
            preTag.innerText = 'Parameterwise High Mastering selected.';
        }
    }



// Function to get the selected container
function getSelectedContainer() {
    const selectedRadio = document.querySelector('input[name="radio-container"]:checked');
    if (selectedRadio) {
        const containerId = selectedRadio.id.replace('_radioButton', ''); // Extract container ID from radio button ID
        return document.getElementById(containerId);
    }
    return null;
}   








function mapInputIdToName(inputId) {
    const idParts = inputId.split('_');
    const inputType = idParts[idParts.length - 1];

    switch (inputType) {
        case 'input1':
            return 'low_mv';
        case 'input2':
            return 'high_mv';
        case 'input3':
            return 'probe_no';
        case 'input4':
            return 'nominal';
        default:
            return inputType;
    }
}

function mapProbeToTextareaId(probeNumber) {
    const probeMap = {
        '1': 'probe-A',
        '2': 'probe-B',
        '3': 'probe-C',
        '4': 'probe-D',
        '5': 'probe-E',
        '6': 'probe-F',
        '7': 'probe-G',
        '8': 'probe-H',
        '9': 'probe-I',
        '10': 'probe-J',
        '11': 'probe-K',

    };
   

    return probeMap[probeNumber];
}





let intervalIdRadio; // Separate variable for radio button interval
let intervalIdContainers; // Separate variable for container interval

// Add an event listener to each radio button inside the containers
document.querySelectorAll('input[name="radio-container"]').forEach(radioButton => {
    radioButton.addEventListener('change', function() {
        if (this.checked) {
            const container = this.closest('.input-box-container');
            displayContainerValues(container);
            
            // Clear the previous interval if exists
            clearInterval(intervalIdRadio);

            // Start a new interval to display serial data periodically
            intervalIdRadio = setInterval(() => {
                displaySerialData(container);
            }, 5000); // Adjust the interval time (in milliseconds) as needed
        }
    });
});

// Assume you want to display serial data for all containers
const containers = document.querySelectorAll('.input-box-container');


// Start a new interval to display serial data periodically for each container
containers.forEach(container => {
    displayContainerValues(container);
// Clear the previous interval if exists
clearInterval(intervalIdContainers);
    intervalIdContainers = setInterval(() => {
        displaySerialData(container);
    }, 5000); // Adjust the interval time (in milliseconds) as needed
});





// Function to display serial data
function displaySerialData(container, callback) {
    const inputElements = container.querySelectorAll('.master_input');
    const values = {};

    inputElements.forEach(input => {
        const inputName = mapInputIdToName(input.id);
        values[inputName] = input.value;
    });

    const probeInput = values['probe_no'];
    const textareaId = mapProbeToTextareaId(probeInput);
    const textarea = document.getElementById(textareaId);

    if (textarea) {
        // Function to check for changes in serial data
        function checkSerialData() {
            const newSerialData = textarea.value;
            console.log(`Serial Data for Probe ${probeInput}:`, newSerialData);

            // Call the callback function with the newSerialData
            callback(newSerialData);
        }

        // Attach an event listener to the textarea for changes
        textarea.addEventListener('input', checkSerialData);

        // Use setInterval to periodically check for changes
        const intervalId = setInterval(checkSerialData, 0.5); // Adjust the interval as needed

        // Return the initial value of serialData and intervalId
        return {
            initialValue: textarea.value,
            intervalId: intervalId,
        };
    } else {
        console.error('Textarea not found for Probe:', probeInput);
        return null;
    }
}

let m; // Declare m in the global scope

function calculateMastering(e, d, o1, serialData,id,a1,b1,c1) {
    console.log('Entering calculateMastering');
    console.log('e:', e);
    console.log('serialData:', serialData);
    console.log('d:', d);
    console.log('o1:', o1);
    console.log('a1:', a1);
    console.log('b1:', b1);
    console.log('c1:', c1);
    console.log('jjjj container id:',id);

    const rawMastering = parseFloat(e) + (serialData * d + o1);

    // Format the mastering value to 4 decimal places
    m = rawMastering.toFixed(4);

    console.log('Calculated Mastering:', m);

    if (document.getElementById('parameterwise').checked) {
        console.log('Updating additional input value in calculateMastering:', m);
        updateAdditionalInputValue(m);
    } else if (document.getElementById('all_parameter').checked) {
        console.log('Updating all parameter values in calculateMastering:', m);
        updateAllParameterValues(id);
    }

    // Return m if needed in other parts of your code
    return m;
}

function updateAdditionalInputValue(value) {
    console.log('Entering updateAdditionalInputValue');
    console.log("Updating additional input value:", value);

    const container = getSelectedContainer();
    const additionalInput = document.getElementById(container.id + '_additional_input');

    if (additionalInput) {
        additionalInput.value = value;
    } else {
        console.error('Additional input field not found for container:', container.id);
    }
}

function updateAllParameterValues(id) {
    console.log('Entering updateAllParameterValues');
    console.log("Updating all parameter values");

    const containers = document.querySelectorAll('.input-box-container');


        const additionalInput = document.getElementById(id + '_additional_input');

        if (additionalInput) {
            // Set the value of the additional input field with the global 'm' value
            additionalInput.value = m;
        } else {
            console.error('Additional input field not found for container:',id);
        }
    
}








        // Create L: input fields
        container.appendChild(document.createTextNode('L:'));
        for (let j = 1; j <= 1; j++) {
            const inputL = document.createElement('input');
            inputL.className = 'master_input';
            inputL.type = 'text';
            inputL.id = 'container-' + i + '_input' + j;
            container.appendChild(inputL);

            // Add a small space after each inputL
            container.appendChild(document.createTextNode(' '));
        }
        container.appendChild(document.createElement('br'));

        // Create H: input fields
        container.appendChild(document.createTextNode('H:'));
        for (let k = 2; k <= 2; k++) {
            const inputH = document.createElement('input');
            inputH.className = 'master_input';
            inputH.type = 'text';
            inputH.id = 'container-' + i + '_input' + k;
            container.appendChild(inputH);

            // Add a small space after each inputL
            container.appendChild(document.createTextNode(' '));
        }

        // Create additional input field
        const additionalInput = document.createElement('input');
        additionalInput.className = 'master_input';
        additionalInput.type = 'text';
        additionalInput.id = 'container-' + i + '_additional_input'; // Adjust ID as needed

        // Append the additional input inside the container
        container.appendChild(additionalInput);
        container.appendChild(document.createTextNode(' ')); // Add a space after the additional input

        // Append a line break to ensure proper layout
        container.appendChild(document.createElement('br'));



        // Create additional PN: input field

        for (let p = 3; p <= 4; p++) {  // Update the loop condition for additional input box
            const inputPN = document.createElement('input');
            inputPN.className = 'master_input';
            inputPN.type = 'text';
            inputPN.id = 'container-' + i + '_input' + p;
            container.appendChild(inputPN);

            inputPN.style.display = 'none';

            // Add a small space after each inputPN
            container.appendChild(document.createTextNode(' '));
        }

       


        // Style the additional input box using CSS
        additionalInput.style.position = 'absolute';
        additionalInput.style.top = '50%';
        additionalInput.style.transform = 'translateY(-50%)';
        additionalInput.style.height = '70px'; // Adjust height as needed
        additionalInput.style.marginLeft = '5px'; // Adjust height as needed

        // Style the container to position it relatively
        container.style.position = 'relative';



        // Create pre element
        const preElement = document.createElement('pre');
        preElement.id = 'pre_' + i;
        preElement.style.marginTop = '0px';
        preElement.style.marginLeft = '50px';
        preElement.appendChild(document.createTextNode(''));
        container.appendChild(preElement);

        // Append the container to the container-wrapper
        document.getElementById('container-wrapper').appendChild(container);
    
    }




    // Function to fetch and update values based on selected options
    function updateValues() {
        var selectedValue = document.getElementById('partModel').value;
        console.log('Selected Value: ' + selectedValue);

        var selectedMastering = document.getElementById('mastering').value;
        console.log('Selected MASTERING GROUP:', selectedMastering);

        // Make an AJAX request to the backend
        fetch('/master/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'), // Include CSRF token for Django
            },
            body: JSON.stringify({
                selectedValue: selectedValue,
                selectedMastering: selectedMastering,
            }),
        })
        .then(response => response.json())
        .then(data => {
            // Extract parameter names from the response data
            const parameter_names = data.parameter_names;

            // Check if no values from selected mastering, then show alert message and remove parameter names from pre tags
            if (!parameter_names || parameter_names.length === 0) {
                alert('No parameter names available for selected mastering.');

                // Clear all pre tags
                for (let i = 1; i <= 50; i++) {
                    const preElement = document.getElementById('pre_' + i);
                    preElement.innerHTML = '';
                }
            } else {
                // Iterate over the parameter names and update the corresponding pre tags
                for (let i = 1; i <= parameter_names.length; i++) {
                    const preElement = document.getElementById('pre_' + i);
                    preElement.innerHTML = '<b style="color: red;">' + parameter_names[i - 1] + '</b>';
                }
                // Clear the remaining pre tags if there are fewer parameter names than the total number of pre tags
                for (let i = parameter_names.length + 1; i <= 50; i++) {
                    const preElement = document.getElementById('pre_' + i);
                    preElement.innerHTML = '';
                }
            }

////////////////////////////////////////////////////////////




// Extract probeNo values from the response data
const probeNo_values = data.probe_no;
console.log('probeNo_values:', probeNo_values);

// Extract nominal values from the response data
const nominal_values = data.nominal;
console.log('nominal_values:', nominal_values);


// Iterate over the probeNo values and update the corresponding input fields
for (let i = 1; i <= Math.min(probeNo_values.length, 50); i++) {
    const inputProbeNo = document.getElementById('container-' + i + '_input3'); // Assuming 'input2' is for probeNo
    inputProbeNo.value = probeNo_values[i - 1];
}

// Iterate over the nominal values and update the corresponding input fields
for (let i = 1; i <= Math.min(nominal_values.length, 50); i++) {
    const inputNominal = document.getElementById('container-' + i + '_input4'); // Assuming 'input3' is for nominal
    inputNominal.value = nominal_values[i - 1];
}




/////////////////////////////////////////

            // Reset previous low_mv values
            for (let i = 1; i <= 50; i++) {
                const inputLowMV = document.getElementById('container-' + i + '_input1');
                inputLowMV.value = '';
            }

            // Reset previous high_mv values
            for (let i = 1; i <= 50; i++) {
                const inputHighMV = document.getElementById('container-' + i + '_input2');
                inputHighMV.value = '';
            }

            // Extract low_mv values from the response data
            const low_mv_values = data.low_mv;
            console.log('low_mv_values no:',low_mv_values)
            // Extract high_mv values from the response data
            const high_mv_values = data.high_mv;
            console.log('high_mv_values no:',high_mv_values)

            // Check if low_mv values are available and update input fields
            if (low_mv_values && low_mv_values.length > 0) {
                for (let i = 1; i <= low_mv_values.length; i++) {
                    const inputLowMV = document.getElementById('container-' + i + '_input1');
                    inputLowMV.value = low_mv_values[i - 1];
                }
            } else {
                console.error('No or empty low_mv values received from the backend.');
            }

            // Check if high_mv values are available and update input fields
            if (high_mv_values && high_mv_values.length > 0) {
                for (let i = 1; i <= high_mv_values.length; i++) {
                    const inputHighMV = document.getElementById('container-' + i + '_input2');
                    inputHighMV.value = high_mv_values[i - 1];
                }
            } else {
                console.error('No or empty high_mv values received from the backend.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
        resetRadioButtons();
    }

    // Attach event listener to the partModel select element
    document.getElementById('partModel').addEventListener('change', updateValues);

    // Attach event listener to the mastering select element
    document.getElementById('mastering').addEventListener('change', updateValues);

    // Function to get CSRF token from cookies
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Check if the cookie name matches the desired name
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // Initial update when the page loads
    updateValues();


function resetRadioButtons() {
    const radioButtons = document.querySelectorAll('input[name="radio-container"]');
    radioButtons.forEach(radioButton => {
        radioButton.checked = false;
    });
}

////////////////////////////////







/////////////////////////////////////////////
 
function updateSerialData() {
    // Make an AJAX request to your Django view
    $.ajax({
        url: '/probe/',  // Replace with the correct URL
        type: 'GET',
        dataType: 'json',
        success: function (data) {
            var serialData = data.serial_data;

            // Iterate over the probe keys in serialData
            for (var probeKey in serialData) {
                if (serialData.hasOwnProperty(probeKey)) {
                    // Update the corresponding textarea based on probeKey
                    $('#probe-' + probeKey).text(serialData[probeKey]);
                }
            }

            // Scroll the textarea to view the last line
            $('.textarea').each(function () {
                $(this).scrollTop($(this)[0].scrollHeight);
            });
        },
        error: function(error) {
          console.error('Error updating serial data:', error);
        }
    });
}

// Update the serial data every 1 second (adjust the interval as needed)
setInterval(updateSerialData, 0.5); // Update every second (1000 ms)


///////////////////////////////////







</script>

{% endblock content %}