{% extends 'app/layouts/main.html' %}
{% block title %}
Mastering Page
{% endblock title %}
{% block content %}
<style>
   .full-page-box {
        display: flex;
        flex-direction: column;
        background-color: lightblue;
        padding: 20px; 
        box-sizing: border-box;
        
    }

    .left-box {
        width: 350px;
        height: 100px;
        background-color: white; 
        margin-right: 10px;
        border: 2px solid black; 
    }
    label {
            display: inline-block;
            width: 150px; 
            margin-top: 15px;
            text-align: center;
            font-weight: bold;
        }

        select {
            margin-top: 10px;
            box-sizing: border-box;
            width: 50%; 
            height: 30px;
        } 
        #cancel-btn{
            background-color: orange;
            color:black;
            height: 40px;
            width: 130px;
            margin-left: 10px;
            margin-top: 10px;
              
        }
        #select-btn{
            background-color: green;
            color:black;           
            height: 40px;
            width: 130px; 
            margin-left: 65px; 
            margin-top: 10px;
        }
        #lowMasterBtn,#highMasterBtn{
            width: 250px;
            height: 40px;
            margin-left: 950px;
            margin-top: -60px;
            background-color: blue;
            color: white;
        }
        #highMasterBtn{    
            margin-top: 10px;   
        }
        
        .input-box-container {
            border: 2px solid black;
            padding: 10px;
            width: 180px;
            height: 140px;
            margin: 30px;
            box-sizing: border-box;
            
        }
        .master_input {
            margin-bottom: 10px;
            width: 42%;
            box-sizing: border-box;
        }

        #container-wrapper {
        display: flex;
        flex-wrap: wrap;
        }
</style>


<div class="full-page-box" style="overflow-x: auto;overflow-y:auto;">
    <div class="left-box">
        <label for="partModel">PART MODEL:</label>
        <select id="partModel" name="partModel">
            {% for value in part_model_values %}
                <option value="{{ value }}">{{ value }}</option>
            {% endfor %}
        </select>
        <button type="button" id="cancel-btn"><b>Cancel</b></button>
        <button type="button" id="select-btn"><b>Select</b></button>
    </div>
    <label for="all_parameter" style="margin-left: 400px; margin-top: -80px;">All Parameter
        <input type="radio" style="margin-left: 10px;" id="all_parameter">
    </label>
    
    <label for="parameterwise" style="margin-left: 400px;">Parameterwise
        <input type="radio" style="margin-left: 7px;" id="parameterwise">
    </label><br>
    
    <label for="mastering" style="margin-left: 570px;margin-top: -80px;">MASTERING GROUP:</label>
    <select id="mastering"  style="width: 15%;margin-left: 700px;margin-top: -40px;" name="mastering" >
        <script>
            for (var i = 1; i <= 30; i++) {
                document.write('<option value="' + i + '">' + i + '</option>');
            }
        </script>
    </select>
    <button  id="lowMasterBtn" type="button"><b>Low Mastering</b></button>
    <button  id="highMasterBtn" type="button"><b>High Mastering</b></button>

    <div style="border-bottom: 2px solid black; margin-top: 20px;"></div>



    <div id="container-wrapper"></div>
</div>


<script>
    // Generate 50 input-box-container elements
    for (let i = 1; i <= 50; i++) {
        // Create a new container div
        const container = document.createElement('div');
        container.className = 'input-box-container';
        container.id = 'container-' + i;

        // Create radio button
        const radioButton = document.createElement('input');
        radioButton.type = 'radio';
        radioButton.id = 'container-' + i + '_radioButton';
        radioButton.style.marginLeft = '70px';
        radioButton.style.marginTop = '0px';
        container.appendChild(radioButton);
        container.appendChild(document.createElement('br'));

        // Create L: input fields
        container.appendChild(document.createTextNode('L:'));
        for (let j = 1; j <= 2; j++) {
            const inputL = document.createElement('input');
            inputL.className = 'master_input';
            inputL.type = 'text';
            inputL.id = 'container-' + i + '_input' + j;
            container.appendChild(inputL);

            // Add a small space after each inputL
            container.appendChild(document.createTextNode(' '));
        }
        container.appendChild(document.createElement('br'));

        // Create H: input fields
        container.appendChild(document.createTextNode('H:'));
        for (let k = 3; k <= 4; k++) {
            const inputH = document.createElement('input');
            inputH.className = 'master_input';
            inputH.type = 'text';
            inputH.id = 'container-' + i + '_input' + k;
            container.appendChild(inputH);

            // Add a small space after each inputL
            container.appendChild(document.createTextNode(' '));
        }

        // Create pre element
        const preElement = document.createElement('pre');
        preElement.id = 'pre_' + i;
        preElement.style.marginTop = '0px';
        preElement.style.marginLeft = '50px';
        preElement.appendChild(document.createTextNode(''));
        container.appendChild(preElement);

        // Append the container to the container-wrapper
        document.getElementById('container-wrapper').appendChild(container);
    
    }






    document.getElementById('select-btn').addEventListener('click', function () {
    var selectedValue = document.getElementById('partModel').value;
    console.log('Selected Value: ' + selectedValue);

    // Make an AJAX request to the backend
    fetch('/master/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken'), // Include CSRF token for Django
        },
        body: JSON.stringify({
            selectedValue: selectedValue,
        }),
    })
    .then(response => response.json())
    .then(data => {
        // Handle the response from the backend if needed
        console.log('Response from backend:', data);

        // Extract parameter names from the response data
        const parameter_names = data.parameter_names;

        // Check if the parameter names are available
        if (parameter_names && parameter_names.length > 0) {
            // Iterate over the parameter names and update the corresponding pre tags
            for (let i = 1; i <= parameter_names.length; i++) {
                const preElement = document.getElementById('pre_' + i);
                preElement.innerHTML = '<b style="color: red;">' + parameter_names[i - 1] + '</b>';
            }
            // Clear the remaining pre tags if there are fewer parameter names than the total number of pre tags
            for (let i = parameter_names.length + 1; i <= 50; i++) {
                const preElement = document.getElementById('pre_' + i);
                preElement.innerHTML = '';
            }
        } else {
            console.error('No or empty parameter names received from the backend.');
        }



        // Extract low_mv values from the response data
        const low_mv_values = data.low_mv;

        // Reset previous low_mv values
        for (let i = 1; i <= 50; i++) {
            const inputLowMV = document.getElementById('container-' + i + '_input1');
            inputLowMV.value = '';
        }

        // Check if low_mv values are available
        if (low_mv_values && low_mv_values.length > 0) {
            // Iterate over the low_mv values and update the corresponding input fields
            for (let i = 1; i <= low_mv_values.length; i++) {
                const inputLowMV = document.getElementById('container-' + i + '_input1');
                inputLowMV.value = low_mv_values[i - 1];
            }
        } else {
            console.error('No or empty low_mv values received from the backend.');
        }

        // Extract high_mv values from the response data
        const high_mv_values = data.high_mv;
        
        // Reset previous high_mv values
        for (let i = 1; i <= 50; i++) {
            const inputHighMV = document.getElementById('container-' + i + '_input3');
            inputHighMV.value = '';
        }

        
        // Check if high_mv values are available
        if (high_mv_values && high_mv_values.length > 0) {
            // Iterate over the high_mv values and update the corresponding input fields
            for (let i = 1; i <= high_mv_values.length; i++) {
                const inputHighMV = document.getElementById('container-' + i + '_input3');
                inputHighMV.value = high_mv_values[i - 1];
            }
        } else {
            console.error('No or empty high_mv values received from the backend.');
        }

    })
    .catch(error => {
        console.error('Error:', error);
    });
});





    // Function to get CSRF token from cookies
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Check if the cookie name matches the desired name
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }



    
</script>


{% endblock content %}
