{% extends 'app/layouts/main.html' %}
{% block title %}
Parameter Settings
{% endblock title %}
{% block content %}
<style>
    .box-1{
        height: 530px;
        width: 950px;
        margin-left: 300px;
        margin-top: 10px;
        background-color: lightblue;
        border: 2px solid black;    
    }

        .custom-input {
        background-color: lightblue;
        cursor: pointer;
        }

        .custom-input:focus {
        background-color: red;
        }


    .box-3{
        height: 50px;
        width: 900px;
        margin-left: 20px;
        border: 2px solid black;
        margin-top: 65px;
    }
    .box-2{
        height:530px;
        width: 230px;
        margin-left: 50px;
        background-color:rgb(243, 232, 243);
        border: 2px solid black;  
        margin-top: -530px;
    }

    #model_dropdown {
    width: 220px;
}

   
    .box-2 input[type="text"] {
        border: none;
        width: 100%;
        outline: none;
    }

    label {
            display: inline-block;
            width: 150px;
            margin-top: 15px;
            text-align: center;
            margin-left: 20px;
            font-weight: bold;
        }

        input {
            margin-top: 10px;
            box-sizing: border-box;
            width: 20%;
        }
        select {
            margin-top: 10px;
            box-sizing: border-box;
            width: 20%;
            height: 30px;
        }
        #add-btn{
            width: 200px;
            height: 40px;
            margin-top: 3px;
            margin-left: 20px;
            background-color: rgb(236, 235, 157);
        }
        #deleteParameterBtn{
            width: 200px;
            height: 40px;
            margin-top: 3px;
            margin-left: 10px;
            background-color: coral;
        }
        #save-btn{
            width: 200px;
            height: 40px;
            margin-left: 10px;
            background-color: lightgreen;
        }
        #cancel-btn{
            width: 200px;
            height:40px ;
            margin-left: 10px;
        }

        .box-2 {
            overflow-x: auto;
            overflow-y: auto;
        }

        .model-list.selected {
            background-color: lightskyblue; 
        }

        .parameter-list {
            display: none;
        }
       
        .parameter-list li.selected {
            background-color: red;
        }

#notification {
    display: none;
    position: fixed;    
    top: 50%;
    left: 50%;
    height: 120px;
    width: 350px;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
    border: 2px solid black;
}



       
</style>


<center style="color: white; text-shadow: 2px 2px 4px #000000;">
    <h1><b>Parameter Settings</b></h1></center>
    <div id="notification" style="display: none;"></div>
<div class="box-1" id="box1">
   
    <label for="partModel">PART MODEL:</label>
    <input type="text" id="partModel" readonly>

   

    <label for="sr.no" style="margin-left: 60px;">PARAMETER.NO:</label>
    <input type="text" id="sr_no" name="sr_no" style="width: 50px;"><br>
    
        <label for="parameter_name">PARAMETER NAME:</label>
        <input type="text" id="parameter_name" value="{{ value.parameter_name }}" >
    
        <label style="margin-left: 50px;">MASTER:</label>
        <label for="single" style="margin-left: -30px;" >Single
            <input type="radio" id="single" name="radioOption"  onclick="handleRadioClick('single')">
        </label>
       
        <label for="double" style="margin-left: 10px;">Double
            <input type="radio" id="double" name="radioOption" onclick="handleRadioClick('double')">
        </label><br>
    
        <label for="probe_no">PROBE NO:</label>
        <select id="probe_no" name="probe_no" oninput="validateInteger(this)">
            <script>
                for (var i = 1; i <= 11; i++) {
                    document.write('<option value="' + i + '">' + i + '</option>');
                }
            </script>
        </select>
    
        <label for="analog_zero">ANALOG ZERO:</label>
        <input type="text" id="analog_zero" style="width: 10%;" value="{{ value.analog_zero }}" oninput="validateInteger(this)">
        <label for="high_mv" style="text-align: right;margin-left: 5px;">HIGH M-V:</label>
        <input type="text" id="high_mv" style="width: 10%;" value="{{ value.high_mv }}" oninput="validateInteger(this)" ><br>
    
        <label for="measurement_mode">MEASUREMENT MODE:</label>
        <select id="measurement_mode" name="measurement_mode">
            <option value="CUR" {% if value.measurement_mode == 'CUR' %}selected{% endif %}>CUR</option>
            <option value="MAX" {% if value.measurement_mode == 'MAX' %}selected{% endif %}>MAX</option>
            <option value="MIN" {% if value.measurement_mode == 'MIN' %}selected{% endif %}>MIN</option>
            <option value="TIR" {% if value.measurement_mode == 'TIR' %}selected{% endif %}>TIR</option>
            <option value="AVG" {% if value.measurement_mode == 'AVG' %}selected{% endif %}>AVG</option>
        </select>
    
        <label for="reference_value">REFERENCE VALUE:</label>
        <input type="text" id="reference_value" style="width: 10%;" value="{{ value.reference_value }}" oninput="validateInteger(this)">
        <label for="low_mv" style="text-align: right; margin-left: 5px;" >LOW M-V:</label>
        <input type="text" id="low_mv" style="width: 10%;" value="{{ value.low_mv }}" oninput="validateInteger(this)"><br><br>
    
        <label for="nominal">NOMINAL:</label>
        <input type="text" id="nominal" style="width: 10%;" value="{{ value.nominal }}" oninput="validateInteger(this)" >
    
        <label for="usl" style="text-align: right;">USL:</label>
        <input type="text" id="usl" style="width: 10%;" value="{{ value.usl }}" oninput="validateInteger(this)">
    
        <label for="lsl" style="text-align: right;">LSL:</label>
        <input type="text" id="lsl" style="width: 10%;" value="{{ value.lsl }}" oninput="validateInteger(this)" ><br>
    
        <label for="mastering" style="margin-top: 15px;">MASTERING GROUP:</label>
        <select id="mastering"  style="width: 15%;" name="mastering" oninput="validateInteger(this)">
            <script>
                for (var i = 1; i <= 30; i++) {
                    document.write('<option value="' + i + '" {% if value.mastering == i %}selected{% endif %}>' + i + '</option>');
                }
            </script>
        </select>
    
        <label for="step_no">STEP NO:</label>
        <select id="step_no" style="width: 15%;" name="step_no" oninput="validateInteger(this)">
            <script>
                for (var i = 1; i <= 20; i++) {
                    document.write('<option value="' + i + '" {% if value.step_no == i %}selected{% endif %}>' + i + '</option>');
                }
            </script>
        </select>
    
        <label for="hide" style="text-align: right;margin-left: 5px;">HIDE:</label>
        <input type="checkbox" id="hide" style="width: 5%;margin-left:0px;" name="hideCheckbox" {% if value.hide_checkbox %}checked{% endif %}><br>
    


    <div class="box-3">
        <button type="button" id="add-btn"><b> Add New</b></button>
        <button type="button" id="save-btn" onclick="saveValues()"><b>Save</b></button>
        <button type="button" id="deleteParameterBtn"><b> Delete</b></button>
        <a href="{% url 'index' %}" >
        <button type="button" id="cancel-btn"><b>Cancel</b></button>
        </a>
    </div>

</div>
<div class="box-2" id="model_name">
    {% for data in table_body_1_data %}
        <ul class="model-ul">
            <li class="model-name" data-model-id="{{ data.model_id }}">{{ data.part_model }}</li>
            <ul class="nested-ul">
                {% for item in paraname %}
                    <li>{{ item.parameter_name }}</li>
                {% endfor %}
            </ul>
        </ul>
    {% endfor %}
</div>



<script>

let selectedModelId;
let selectedParameterID;

// Keep track of the last selected model and parameter
let lastSelectedModel = null;
let lastSelectedParameterElement = null;

function updateUI(data) {
    console.log('Updating UI with data:', data);

    const filteredValuesContainer = document.querySelector('.model-ul .nested-ul.active');

    // Clear previous content
    filteredValuesContainer.innerHTML = '';

    resetInputFields();

    if (data && data.paraname && data.paraname.length > 0) {
        data.paraname.forEach(item => {
            const listItem = document.createElement('li');
            listItem.textContent = item.parameter_name;
            listItem.setAttribute('data-parameter', item.id);

            listItem.addEventListener('click', function () {
                if (lastSelectedParameterElement) {
                    lastSelectedParameterElement.style.backgroundColor = '';
                }

                listItem.style.backgroundColor = 'red';
                lastSelectedParameterElement = listItem;

                // Update the selectedId when a parameter is clicked
                selectedId = item.id;

                const selectedParameterName = item.parameter_name;
                const selectedParameterID = item.id;

                const parameterNameInput = document.getElementById('parameter_name');
                parameterNameInput.value = selectedParameterName;

                const parameterIndex = data.paraname.findIndex(param => param.id === selectedParameterID);

                // Set sr_no based on the index (+1 because indices start from 0)
                const srNoInput = document.getElementById('sr_no');
                srNoInput.value = parameterIndex + 1;

                console.log('Selected parameter:', selectedParameterName);
                console.log('Selected parameter ID:', selectedParameterID);

                // Include the selectedParameterID in the fetch URL
                fetch(`/parameter/?parameter_name=${selectedParameterName}&id=${selectedParameterID}`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error(`HTTP error! Status: ${response.status}`);
                            }
                            return response.json();
                        })
                        .then(details => {
                            console.log('Details about selected parameter:', details);
                            // Access the HTML elements and update their values
                                document.getElementById('parameter_name').value = details.parameter_details.parameter_name;

                                // Handle radio buttons
                                if (details.parameter_details.single_radio) {
                                    document.getElementById('single').checked = true;
                                } else if (details.parameter_details.double_radio) {
                                    document.getElementById('double').checked = true;
                                }

                                document.getElementById('probe_no').value = details.parameter_details.probe_no;
                                document.getElementById('analog_zero').value = details.parameter_details.analog_zero;
                                document.getElementById('high_mv').value = details.parameter_details.high_mv;

                                // Handle dropdowns
                                document.getElementById('measurement_mode').value = details.parameter_details.measurement_mode;

                                document.getElementById('reference_value').value = details.parameter_details.reference_value;
                                document.getElementById('low_mv').value = details.parameter_details.low_mv;

                                document.getElementById('nominal').value = details.parameter_details.nominal;
                                document.getElementById('usl').value = details.parameter_details.usl;
                                document.getElementById('lsl').value = details.parameter_details.lsl;

                                document.getElementById('mastering').value = details.parameter_details.mastering;
                                document.getElementById('step_no').value = details.parameter_details.step_no;

                                // Handle checkbox
                                document.getElementById('hide').checked = details.parameter_details.hide_checkbox;


                        })
                        .catch(error => console.error('Error fetching details:', error));
                });
            filteredValuesContainer.appendChild(listItem);
        });
    } else {
        const listItem = document.createElement('li');
        listItem.textContent = 'No parameters found for the selected model.';
        filteredValuesContainer.appendChild(listItem);
    }
}

// Rest of your existing code remains unchanged




document.querySelectorAll('.model-name').forEach(model => {
    model.addEventListener('click', function(event) {
        const target = event.target;
        const selectedModel = target.textContent.trim();

        const selectedUL = target.nextElementSibling;
        const partModelInput = document.getElementById('partModel');
        const parameterNameInput = document.getElementById('parameter_name')

        parameterNameInput.value ='';

        // If the clicked model is the same as the last selected model, toggle its active state
        if (lastSelectedModel === target) {
            selectedUL.classList.toggle('active');
            selectedUL.style.display = selectedUL.classList.contains('active') ? 'block' : 'none';
            return; // Do not proceed with fetching data and updating UI
        }

        // Deactivate all other models
        document.querySelectorAll('.model-name').forEach(otherModel => {
            if (otherModel !== target) {
                const otherUL = otherModel.nextElementSibling;
                otherUL.classList.remove('active');
                otherUL.style.display = 'none';
            }
        });

        // Remove background color from the last selected model
        if (lastSelectedModel) {
            lastSelectedModel.style.backgroundColor = '';
        }

        // Update last selected model
        lastSelectedModel = target;

        // Activate the clicked model
        selectedUL.classList.add('active');
        target.style.backgroundColor = 'lightblue';

        // Display selected model name in the input field
        partModelInput.value = selectedModel;

        // Display the nested-ul for the selected model
        selectedUL.style.display = 'block';
 
        // Make a GET request with the 'id' parameter
        fetch(`/parameter/?model_name=${selectedModel}`)
            .then(response => response.json())
            .then(data => {
                // Update the UI with the filtered data
                updateUI(data);
            })
            .catch(error => console.error('Error:', error));
    });
});


///////////////////////////////////////////////    


function saveValues() {
    const selectedUL = document.querySelector('.model-ul .nested-ul.active');
    const inputValue = document.getElementById('parameter_name').value.trim();
    const singleRadio = document.getElementById('single').checked;
    const doubleRadio = document.getElementById('double').checked;
    const probeNo = document.getElementById('probe_no').value;
    const analogZero = document.getElementById('analog_zero').value;
    const highMV = document.getElementById('high_mv').value;
    const measurementMode = document.getElementById('measurement_mode').value;
    const referenceValue = document.getElementById('reference_value').value;
    const lowMV = document.getElementById('low_mv').value;
    const nominal = document.getElementById('nominal').value;
    const usl = document.getElementById('usl').value;
    const lsl = document.getElementById('lsl').value;
    const mastering = document.getElementById('mastering').value;
    const stepNo = document.getElementById('step_no').value;
    const hideCheckbox = document.getElementById('hide').checked;

     // Check if high_mv is less than or equal to low_mv (only if the double radio button is not checked)
    if (!doubleRadio && parseFloat(highMV) <= parseFloat(lowMV)) {
        alert('Error: HIGH M-V should be greater than LOW M-V.');
        return; // Stop further processing
    }

    // Check if usl is less than or equal to lsl
    if (usl <= lsl) {
        alert('Error: USL should be greater than LSL.');
        return; // Stop further processing
    }

    if (selectedUL) {
        // Prepare data to be sent to the server
        const data = {
            modelId: selectedUL.parentElement.querySelector('.model-name').textContent.trim(),  // Assuming you have a variable tracking the selected model ID
            parameterValue: inputValue,
            singleRadio: singleRadio,
            doubleRadio: doubleRadio,
            probeNo: probeNo,
            analogZero: analogZero,
            highMV: highMV,
            measurementMode: measurementMode,
            referenceValue: referenceValue,
            lowMV: lowMV,
            nominal: nominal,
            usl: usl,
            lsl: lsl,
            mastering: mastering,
            stepNo: stepNo,
            hideCheckbox: hideCheckbox
        };

        console.log('your data is :', data);

        // Get CSRF token from the cookie (Django sets it in a cookie named 'csrftoken')
        const csrfToken = document.cookie.match(/csrftoken=([^;]+)/)[1];

        // Perform AJAX POST request with CSRF token in headers
        $.ajax({
            type: 'POST',
            url: '/parameter/',  // Adjust the URL based on your Django app's configuration
            contentType: 'application/json',
            data: JSON.stringify(data),
            headers: {
                'X-CSRFToken': csrfToken,
            },
            success: function (response) {
                // Handle the success response from the server if needed
                console.log('Data saved successfully:', response);

                // Clear input fields after successful save
                document.getElementById('parameter_name').value = '';
                showNotification('Data saved successfully', true);
            },
            error: function (error) {
                // Handle the error response from the server if needed
                console.error('Error saving data:', error);
                showNotification('Error saving data', false);
            }
        });
    } else {
        alert('Please select a model to add parameters.');
    }
}

////////////////////////////////////////////////////////////////

function validateInteger(input) {
    input.value = input.value.replace(/[^0-9.]/g, ''); // Allow only digits (0-9) and a dot
    const decimalParts = input.value.split('.');
    
    if (decimalParts.length > 1) {
        // If there is a decimal part, limit it to 4 decimal places
        input.value = `${decimalParts[0]}.${decimalParts[1].slice(0, 4)}`;
    }
}

// Event listener for the specified fields
['high_mv', 'low_mv', 'nominal', 'usl', 'lsl'].forEach(field => {
    const inputField = document.getElementById(field);
    inputField.addEventListener('input', function () {
        validateInteger(this);
    });
});

    
          function handleRadioClick(option) {
                 // Get references to the input fields
                 var analogZeroInput = document.getElementById('analog_zero');
                 var highMvInput = document.getElementById('high_mv');
                 var referenceValueInput = document.getElementById('reference_value');
                 var lowMvInput = document.getElementById('low_mv');
          
                 // Reset all fields to enabled
                 analogZeroInput.disabled = false;
                 highMvInput.disabled = false;
                 referenceValueInput.disabled = false;
                 lowMvInput.disabled = false;
          
                 // Disable specific fields based on the radio button clicked
                 if (option === 'single') {
                     document.getElementById('high_mv').disabled = true;
                     document.getElementById('low_mv').disabled = true;
                 } else if (option === 'double') {
                     document.getElementById('analog_zero').disabled = true;
                     document.getElementById('reference_value').disabled = true;
                 }
             }
 
          
          
             function resetInputFields() {
                document.getElementById('parameter_name').value = '';
                document.getElementById('sr_no').value='';
                document.getElementById('analog_zero').value = '';
                document.getElementById('high_mv').value = '';
                document.getElementById('reference_value').value = '';
                document.getElementById('low_mv').value = '';
                document.getElementById('nominal').value = '';
                document.getElementById('usl').value = '';
                document.getElementById('lsl').value = '';

                // Clear radio button states
                document.getElementById('single').checked = false;
                document.getElementById('double').checked = false;

                // Clear checkbox state
                document.getElementById('hide').checked = false;

                // Clear dropdown selection
                document.getElementById('measurement_mode').value = ''; // You can set the default value here if needed

                // Clear other dropdown selections if applicable
                document.getElementById('probe_no').value = ''; // Set the default value or an empty string
                document.getElementById('mastering').value = ''; // Set the default value or an empty string
                document.getElementById('step_no').value = ''; // Set the default value or an empty string

                // Reset the selectedId
                selectedId = null;
            }

            // Event listener for the "Add New" button
            document.getElementById('add-btn').addEventListener('click', function () {
                resetInputFields(); // Clear the input fields when the button is clicked
            });
                    
        
document.addEventListener('DOMContentLoaded', function() {
    var deleteButton = document.getElementById('deleteParameterBtn');

    deleteButton.addEventListener('click', function() {
        if (selectedId) {
            fetch('/parameter/?id=' + selectedId, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    // Add any additional headers if needed
                },
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    console.log(data.message);
                    showNotification('Data deleted successfully', true);
                } else {
                    console.error(data.message);
                    showNotification('Error deleting data', false);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showNotification('Error deleting data', false);
            });
        } else {
            console.error('No ID selected for deletion.');
            showNotification('No ID selected for deletion', false);
        }
    });
});

function showNotification(message, isSuccess) {
    var notificationElement = document.getElementById('notification');
    notificationElement.textContent = message;

    if (isSuccess) {
        notificationElement.style.backgroundColor = 'lightgreen';
    } else {
        notificationElement.style.backgroundColor = 'coral';
    }

    // Add an "OK" button to the notification
    var okButton = document.createElement('button');
    okButton.textContent = 'OK';
    okButton.style.display = 'block';   // Make the button a block element
    okButton.style.margin = 'auto';     // Center the button horizontally
    okButton.style.marginTop = '10px';  // Add some top margin for spacing
    okButton.style.padding = '10px';
    okButton.style.height = '40px';     // Set the button height
    okButton.style.width = '80px';      // Set the button width
    okButton.style.border = 'none';     // Remove the default button border
    okButton.style.backgroundColor = 'orangered'; // Red background color
    okButton.style.color = 'white';     // White text color

    okButton.addEventListener('click', function() {
        // Hide the notification when the "OK" button is clicked
        window.location.href = '{% url "parameter" %}';
    });

    notificationElement.appendChild(okButton);

    // Center the notification vertically and horizontally
    notificationElement.style.display = 'flex';
    notificationElement.style.flexDirection = 'column';
    notificationElement.style.alignItems = 'center';
    notificationElement.style.textAlign = 'center';
    notificationElement.style.justifyContent = 'center';
    notificationElement.style.position = 'fixed';
    notificationElement.style.top = '50%';
    notificationElement.style.left = '50%';
    notificationElement.style.transform = 'translate(-50%, -50%)';
    notificationElement.style.zIndex = '1000';

    // Add a margin-top of 30px to the notification text
    notificationElement.style.marginTop = '30px';

    // Display the notification
    notificationElement.style.display = 'block';

    console.log('Notification displayed:', message);
}
  
  
</script>   
{% endblock content %}