{% extends 'app/layouts/main.html' %}
{% block title %}
Parameter Settings
{% endblock title %}
{% block content %}
<style>
    .box-1{
        height: 530px;
        width: 950px;
        margin-left: 300px; 
        margin-top: 10px;
        background-color: lightblue;
        border: 2px solid black;     
    }

    /* CSS styles for the input fields */
        .custom-input {
        background-color: lightblue;
        cursor: pointer;
        }

        /* Change background color on focus */
        .custom-input:focus {
        background-color: red; /* Change this to the desired highlighted color */
        }


    .box-3{
        height: 50px;
        width: 900px;
        margin-left: 20px;
        border: 2px solid black;
        margin-top: 65px;
    }
    .box-2{
        height:530px;
        width: 230px;
        margin-left: 50px;
        background-color:rgb(243, 232, 243);
        border: 2px solid black;  
        margin-top: -530px;
    }

    /* CSS to style the input element */
    .box-2 input[type="text"] {
        border: none; /* Remove border */
        width: 100%; /* Set width to 100% */
        outline: none; /* Remove outline */
    }

    label {
            display: inline-block;
            width: 150px; 
            margin-top: 15px;
            text-align: center;
            margin-left: 20px;
            font-weight: bold;
        }

        input {
            margin-top: 10px;
            box-sizing: border-box;
            width: 20%; 
        }
        select {
            margin-top: 10px;
            box-sizing: border-box;
            width: 20%; 
            height: 30px;
        } 
        #add-btn{
            width: 200px;
            height: 40px;
            margin-top: 3px;
            margin-left: 20px;
            background-color: rgb(236, 235, 157);
        }
        #delete-btn{
            width: 200px;
            height: 40px;
            margin-top: 3px;
            margin-left: 10px;
            background-color: coral;
        }
        #save-btn{
            width: 200px;
            height: 40px;
            margin-left: 10px;
            background-color: lightgreen;
        }
        #cancel-btn{
            width: 200px;
            height:40px ;
            margin-left: 10px;
        }
</style>


<center style="color: white; text-shadow: 2px 2px 4px #000000;">
    <h1><b>Parameter Settings</b></h1></center>

<div class="box-1">
    
    <label for="partModel">PART MODEL:</label>
    <input type="text" id="partModel"> 

    <label for="parameter_no" style="margin-left: 80px;">PARAMETER NO:</label>
    <select id="parameter_no" name="parameter_no" style="width: 50px;">
        <script>
            for (var i = 1; i <= 40; i++) {
                document.write('<option value="' + i + '">' + i + '</option>');
            }
        </script>
    </select><br>

    <label for="parameter_name">PARAMETER NAME:</label>
    <input type="text" id="parameter_name">
    
    <label style="margin-left: 50px;">MASTER:</label>
    <label for="single" style="margin-left: -30px;" >Single
        <input type="radio" id="single" name="radioOption" oninput="validateInteger(this)" onclick="handleRadioClick('single')">
    </label>
    
    <label for="double" style="margin-left: 10px;">Double
        <input type="radio" id="double" name="radioOption" onclick="handleRadioClick('double')">
    </label><br>
    

    <label for="probe_no">PROBE NO:</label>
    <select id="probe_no" name="probe_no" oninput="validateInteger(this)">
        <script>
            for (var i = 1; i <= 11; i++) {
                document.write('<option value="' + i + '">' + i + '</option>');
            }
        </script>
    </select>

    <label for="analog_zero">ANALOG ZERO:</label>
    <input type="text" id="analog_zero" style="width: 10%;" oninput="validateInteger(this)">
    <label for="high_mv" style="text-align: right;margin-left: 5px;">HIGH M-V:</label>
    <input type="text" id="high_mv" style="width: 10%;" oninput="validateInteger(this)"><br> 
    
    

    <label for="measurement_mode">MEASUREMENT MODE:</label>
    <select id="measurement_mode" name="measurement_mode">
        <option value="CUR">CUR</option>
        <option value="MAX">MAX</option>
        <option value="MIN">MIN</option>
        <option value="TIR">TIR</option>
        <option value="AVG">AVG</option>
    </select>

    <label for="reference_value">REFERENCE VALUE:</label>
    <input type="text" id="reference_value" style="width: 10%; " oninput="validateInteger(this)">
    <label for="low_mv" style="text-align: right; margin-left: 5px;" >LOW M-V:</label>
    <input type="text" id="low_mv" style="width: 10%; " oninput="validateInteger(this)"><br><br>

    

    <label for="nominal">NOMINAL:</label>
    <input type="text" id="nominal" style="width: 10%;" oninput="validateInteger(this)">



    <label for="usl" style="text-align: right;">USL:</label>
    <input type="text" id="usl" style="width: 10%;" oninput="validateInteger(this)">

    <label for="lsl" style="text-align: right;">LSL:</label>
    <input type="text" id="lsl" style="width: 10%;" oninput="validateInteger(this)"><br>


    <label for="mastering" style="margin-top: 15px;">MASTERING GROUP:</label>
    <select id="mastering" name="mastering" oninput="validateInteger(this)">
        <script>
            for (var i = 1; i <= 30; i++) {
                document.write('<option value="' + i + '">' + i + '</option>');
            }
        </script>
    </select>

    <label for="step_no">STEP NO:</label>
    <select id="step_no" name="step_no" oninput="validateInteger(this)">
        <script>
            for (var i = 1; i <= 20; i++) {
                document.write('<option value="' + i + '">' + i + '</option>');
            }
        </script>
    </select><br>
 
    <div class="box-3">
        <button type="button" id="add-btn"><b> Add New</b></button>
        <button type="button" id="save-btn" onclick="saveValues()"><b>Save</b></button>
        <button type="button" id="delete-btn"><b> Delete</b></button> 
        <a href="{% url 'index' %}" >
        <button type="button" id="cancel-btn"><b>Cancel</b></button>
        </a>
    </div>

</div>

<div class="box-2" id="model_name">

</div>


<script>

// Retrieve the array of values from localStorage
const retrievedValues = JSON.parse(localStorage.getItem('modeValues'));
console.log('YOUR VALUE IS :',retrievedValues)


// Get the parent element by its ID where inputs will be appended
const modelInputContainer = document.getElementById('model_name');

// Declare partModelInput in the broader scope
let partModelInput;

// Function to handle updating the PART MODEL input value
function updatePartModelValue(value) {
    if (partModelInput) {
        partModelInput.value = value;onclick="saveValues()"
    } else {
        console.error('partModelInput is not defined');
    }
}

// Display each value from the retrieved array in the input field as readonly with a light blue background
retrievedValues.forEach(value => {
    const newInput = document.createElement('input');
    newInput.type = 'text';
    newInput.value = value;
    newInput.readOnly = true;
    newInput.classList.add('custom-input'); // Adding a class to the input

    // Event listener to update the PART MODEL input value when the input is clicked
    newInput.addEventListener('click', function() {
        updatePartModelValue(value);
    });

    // Append the newly created input to the container element
    modelInputContainer.appendChild(newInput);
});

// Get the element for the PART MODEL input outside the loop
partModelInput = document.getElementById('partModel');



//this code is used to store this all values :::::::

// Function to save values based on selected input
function saveValues() {
    const selectedValue = document.getElementById('partModel').value; // Get the selected value

    // Get values from other input fields
    const parameterNo = document.getElementById('parameter_no').value;
    const parameterName = document.getElementById('parameter_name').value;
    const probeNo = document.getElementById('probe_no').value;
    const analogZero = document.getElementById('analog_zero').value;
    const highMv = document.getElementById('high_mv').value;
    const measurementMOde = document.getElementById('measurement_mode').value;
    const referenceValue = document.getElementById('reference_value').value;
    const lowMv = document.getElementById('low_mv').value;
    const nominal = document.getElementById('nominal').value;
    const usl = document.getElementById('usl').value;
    const lsl = document.getElementById('lsl').value;
    const mastering = document.getElementById('mastering').value;
    const step_no = document.getElementById('step_no').value;
    // ... (get other input values in a similar manner)

    // Create an object to store these values
    const valuesToSave = {
        selectedValue: selectedValue,
        parameterNo: parameterNo,
        parameterName: parameterName,
        probeNo: probeNo,
        analogZero: analogZero,
        highMv:highMv,
        measurementMOde:measurementMOde,
        referenceValue:referenceValue,
        lowMv:lowMv,
        nominal:nominal,
        usl:usl,
        lsl:lsl,
        mastering:mastering,
        step_no:step_no,
        // ... (add other values to the object)
    };
// Store valuesToSave object in localStorage
const storageKey = `values_${selectedValue}`; // Creating a unique key
localStorage.setItem(storageKey, JSON.stringify(valuesToSave));

// Retrieving stored data (for demonstration purposes - you can display this data as needed)
const storedData = JSON.parse(localStorage.getItem(storageKey));
console.log(storedData); // Displaying stored data in the console
}



// this is used to only integer field::::::::
// Function to validate input and allow only integer values
function validateInteger(input) {
    input.value = input.value.replace(/[^0-9 .]/g, ''); // Allow only digits (0-9)
}


</script>


<script>
    function handleRadioClick(option) {
        // Get references to the input fields
        var analogZeroInput = document.getElementById('analog_zero');
        var highMvInput = document.getElementById('high_mv');
        var referenceValueInput = document.getElementById('reference_value');
        var lowMvInput = document.getElementById('low_mv');

        // Reset all fields to enabled
        analogZeroInput.disabled = false;
        highMvInput.disabled = false;
        referenceValueInput.disabled = false;
        lowMvInput.disabled = false;

        // Disable specific fields based on the radio button clicked
        if (option === 'single') {
            document.getElementById('high_mv').disabled = true;
            document.getElementById('low_mv').disabled = true;
        } else if (option === 'double') {
            document.getElementById('analog_zero').disabled = true;
            document.getElementById('reference_value').disabled = true;
        }
    }
</script>



{% endblock content %}