{% extends 'app/layouts/main.html' %}
{% block title %}
Tracability
{% endblock title %}
{% block content %}
<style>
  
.box-0{
    width: 800px;
    height:50px;
    margin-left:380px ;
    margin-top: 50px;
    background-color: orange;
    border: 2px solid black;
    font-family:Arial, Helvetica, sans-serif
}

.box {
    width: 800px;
    height: 400px;
    margin-left:380px ;
    margin-top: -400px;
    background-color: white;
    border: 2px solid black;
}

.box-1 {
    width: 250px;
    height: 400px;
    margin-top:20px;
    margin-left: 100px;
    background-color: white;
    border: 2px solid black;
    padding-top: 50px;
    padding-left: 5px;
  }

.inner-box-1, .inner-box-2, .inner-box-3, .inner-box-4, .inner-box-5{
    width: 230px; 
    height: 50px;
    background-color:lightblue; 
    border: 2px solid black; 
    margin: 5px;
    padding-top: 10px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
  }

.item-1, .item-2, .item-3, .item-4, .item-5{
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s; 
  }

#save-btn{
    background-color: green;
    color: white;
    height: 50px;
    width: 200px;
    margin-top: 20px;
    margin-left: 100px;
}

#delete-btn{
    background-color: red;
    color: white;
    height: 50px;
    width: 200px;
    margin-top: 20px;
    margin-left: 450px;
}

#cancel-btn{
    background-color: orange;
    color:black;
    margin-top: 15px;
    height: 50px;
    width: 200px;
    margin-left: 100px;  
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

#notification {
    display: none;
    position: fixed;    
    top: 50%;
    left: 60%;
    height: 120px;
    width: 350px;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
    border: 2px solid black;
}

.selected {
        background-color: red;
    }

</style>
<div class="box-0">
    <center style="color:black;text-shadow: 2px 2px 4px white;">
        <h1><b>Tracability</b></h1></center>
</div>

<div id="notification" style="display: none;"></div>

<div class="box-1">
    <div id="part" class="inner-box-1" onclick="enlargeItem(1),showItem('item-1')"><h4><b>Part</b></h4></div>
    <div id="batchNumber" class="inner-box-2" onclick="enlargeItem(2),showItem('item-2')"><h4><b>Batch Number</b></h4></div>
    <div id="machine" class="inner-box-3" onclick="enlargeItem(3),showItem('item-3')"><h4><b>Machine</b></h4></div>
    <div id="operator" class="inner-box-4" onclick="enlargeItem(4),showItem('item-4')"><h4><b>Operator</b></h4></div>
    <div id="vendorCode" class="inner-box-5" onclick="enlargeItem(5),showItem('item-5')"><h4><b>Vendor Code</b></h4></div>
</div>

<div class="box" id="boxContent"style="overflow-x: auto;overflow-y:auto;">
    <div class="item item-1" id="item1">
        <table border="1">
            <thead>
                <tr>
                    <th style="width: 5%;">Sr.No</th>
                    <th style="width: 20%;" id="partname">Part Name</th>
                    <th style="width: 20%;" id="customername">Customer Name</th>
                    <th style="width: 20%;" id="partmodel">Part Model</th>
                    <th style="width: 20%;" id="partno">Part No</th>
                </tr>
            </thead>
            <tbody id="tableBody-1">
                {% for data in table_body_1_data %}
                <tr data-id="{{ data.id }}">
                    <td>{{ forloop.counter }}</td>

                    <td>{{ data.part_name }}</td>
                    <td>{{ data.customer_name }}</td>
                    <td>{{ data.part_model }}</td>
                    <td>{{ data.part_no }}</td>
                </tr>
                {% endfor %}
        
            </tbody>
        </table><br>
        <button onclick="addRow('item-1', 5)">Add New</button>
    </div>

    <div class="item item-2" id="item2">
        <table border="1">
            <thead>
                <tr>
                    <th style="width: 5%;">Sr.No</th>
                    <th id="batchno" style="width: 20%;">Batch No</th>
                </tr>
            </thead>
            <tbody id="tableBody-2">
                {% for data in table_body_2_data %}
                <tr data-id="{{ data.id }}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ data.batch_no }}</td>
                    <!-- Add more columns if needed -->
                </tr>
                {% endfor %}
            </tbody>
        </table><br>
        <button onclick="addRow('item-2', 2)">Add New</button>
    </div>

    <div class="item item-3" id="item3">
        <table border="1">
            <thead>
                <tr>
                    <th style="width: 5%;">Sr.No</th>
                    <th id="machineno" style="width: 20%;">Machine No</th>
                    <th id="machinename" style="width: 20%;">Machine Name</th>
                </tr>
            </thead>
            <tbody id="tableBody-3">
                {% for data in table_body_3_data %}
                <tr data-id="{{ data.id }}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ data.machine_no }}</td>
                    <td>{{ data.machine_name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table><br>
        <button onclick="addRow('item-3', 3)">Add New</button>
    </div>

    <div class="item item-4" id="item-4">
        <table border="1">
            <thead>
                <tr>
                    <th style="width: 5%;">Sr.No</th>
                    <th id="operatorno" style="width: 20%;">Operator No</th>
                    <th id="operatorname" style="width: 20%;">Operator Name</th>
                </tr>
            </thead>
            <tbody id="tableBody-4">
                {% for data in table_body_4_data%}
                <tr data-id="{{ data.id }}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ data.operator_no }}</td>
                    <td>{{ data.operator_name }}</td>
                    <!-- Add more columns if needed -->
                </tr>
                {% endfor %}
            </tbody>
        </table><br>
        <button onclick="addRow('item-4', 3)">Add New</button>
    </div>

    <div class="item item-5" id="item-5">
        <table border="1">
            <thead>
                <tr>
                    <th style="width: 5%;">Sr.No</th>
                    <th id="vendorcode" style="width: 25%;">Vendor Code</th>
                    <th id="email" style="width: 25%;">Email</th>
                </tr>
            </thead>
            <tbody id="tableBody-5">
                {% for data in table_body_5_data %}
                <tr data-id="{{ data.id }}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ data.vendor_code }}</td>
                    <td>{{ data.email }}</td>
                    <!-- Add more columns if needed -->
                </tr>
                {% endfor %}
            </tbody>
        </table><br>
        <button onclick="addRow('item-5', 3)">Add New</button>
    </div>
</div>
<button type="button" id="save-btn" onclick="saveData()"><b>Save</b></button>
<button type="button" id="delete-btn" onclick="deleteSelectedRows()"><b>Delete Selected</b></button>

<a href="{% url 'index' %}" >
    <button type="button" id="cancel-btn"><b>Cancel</b></button>
</a>


<script>


    // Function to handle row selection
    function handleRowSelection(event) {
        var selectedRow = event.currentTarget;
        var allRows = document.querySelectorAll('table tbody tr');
    
        // Remove 'selected' class and background color for all rows
        allRows.forEach(row => {
            row.classList.remove('selected');
        });
    
        // Toggle 'selected' class for the clicked row and set its background color
        selectedRow.classList.add('selected');
    }
    
    
    
    
        function enlargeItem(index) {
            document.querySelectorAll('.box-1 > div').forEach(function (el) {
                el.style.backgroundColor = ''; 
            });
            var clickedInnerBox = document.querySelector(`.box-1 .inner-box-${index}`);
            clickedInnerBox.style.backgroundColor = 'red';
        }
        
        function showItem(itemClassName) {
            var itemClasses = document.querySelectorAll('.item');
            itemClasses.forEach(function (item) {
                item.style.display = 'none';
            });
        
            var selectedItem = document.querySelector('.' + itemClassName);
            if (selectedItem) {
                selectedItem.style.display = 'block';
            }
        }
        
        var rowData = {};
        
        window.onload = function () {
            showItem('item-1');
            document.querySelector('.box-1 .inner-box-1').style.backgroundColor='red';
        };
        
    
    // Function to handle row selection
    function handleRowSelection(event) {
        var selectedRow = event.currentTarget;
        var allRows = document.querySelectorAll('table tbody tr');
    
        // Remove 'selected' class and background color for all rows
        allRows.forEach(row => {
            row.classList.remove('selected');
        });
    
        // Toggle 'selected' class for the clicked row and set its background color
        selectedRow.classList.add('selected');
    }
    
     
    
    // Define an object to hold row data
    var rowData = {};
    
    function addRow(itemClassName, numColumns) {
        var tableBodyId = 'tableBody-' + itemClassName.charAt(itemClassName.length - 1);
        var tableBody = document.querySelector('#' + tableBodyId);
        var newRow = tableBody.insertRow(tableBody.rows.length);
        var rowIndex = tableBody.rows.length;
    
        newRow.addEventListener('click', function(event) {
            var rows = tableBody.querySelectorAll('tr');
            rows.forEach(function(row) {
                row.style.backgroundColor = ''; // Reset background color for all rows
            });
    
            event.currentTarget.style.backgroundColor = 'lightblue'; // Set background color for the clicked row
        });
    
        for (var i = 0; i < numColumns; i++) {
            var cell = newRow.insertCell(i);
            var input = document.createElement('input');
            input.type = 'text';
            input.style.width = '100%';
            input.style.padding = '0';
            input.style.border = 'none';
            input.style.outline = 'none';
            cell.appendChild(input);
        }
    
        // Add the new row data to the rowData object
        if (!rowData[tableBodyId]) {
            rowData[tableBodyId] = [];
        }
    
        rowData[tableBodyId].push({
            rowIndex: rowIndex,
            values: []
        });
    }
    
    function saveData() {
        var tableData = {};
    
        // Loop through each table body
        Object.keys(rowData).forEach(function(key) {
            var rowsData = rowData[key];
            var rows = [];
            rowsData.forEach(function(rowData) {
                var row = {
                    rowIndex: rowData.rowIndex,
                    values: []
                };
                var tableBody = document.getElementById(key);
                var cells = tableBody.rows[rowData.rowIndex - 1].cells; // Correct the index here
                for (var i = 1; i < cells.length; i++) {
                    row.values.push(cells[i].querySelector('input').value);
                }
                rows.push(row);
            });
            tableData[key] = rows;
        });
    
        // Send the tableData object to the server
        sendDataToServer(tableData);
    }
    
    function sendDataToServer(data) {
        // Send the data to the server using AJAX
        $.ajax({
            type: 'POST',
            url: '/trace/',
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: function(response) {
                // Handle successful response from the server
                // Update the UI or perform any additional actions
                console.log(response);
                showNotification('Data saved successfully', true);
            },
            error: function(error) {
                // Handle error from the server
                console.error('Error:', error);
                showNotification('Error: Failed to save the data', false); 
            }
        });
    }
    
    
    // Function to get the CSRF token from the cookie
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
////////////////////////////////






    ///////////////////////
// Function to handle row selection
function handleRowSelection(event) {
    var selectedRow = event.currentTarget;
    var allRows = document.querySelectorAll('table tbody tr');

    // Remove 'selected' class and background color for all rows
    allRows.forEach(row => {
        row.classList.remove('selected');
    });

    // Toggle 'selected' class for the clicked row and set its background color
    selectedRow.classList.add('selected');

    // Retrieve the ID from the 'data-id' attribute of the selected row
    var rowId = selectedRow.getAttribute('data-id');
    console.log('Selected Row ID:', rowId);
}

function deleteSelectedRows() {
    var selectedRow = document.querySelector('.selected');
    if (selectedRow) {
        // Call the handleRowSelection to retrieve the ID from the console
        handleRowSelection({ currentTarget: selectedRow });

        // Now you can proceed with deleting the row using AJAX
        var tableBodyId = selectedRow.closest('tbody').id;
        var rowId = selectedRow.getAttribute('data-id');

        var dataToDelete = {};
        dataToDelete[tableBodyId] = [parseInt(rowId)];

        $.ajax({
            type: 'DELETE',
            url: '/trace/',
            data: JSON.stringify(dataToDelete),
            contentType: 'application/json',
            success: function(response) {
                // Handle successful response from the server
                // Update the UI or perform any additional actions
                console.log(response);
                selectedRow.remove();
                showNotification('Data deleted successfully', true); 
            },
            error: function(error) {
                // Handle error from the server
                console.error('Error:', error);
                showNotification('Error: Failed to delete data', false); 
            }
        });
    } else {
        // Inform the user that no row is selected
        console.log('No row selected');
        showNotification('No row selected', false); 
    }
}

    
    document.addEventListener('DOMContentLoaded', function () {
        var rows = document.querySelectorAll('table tbody tr');
        rows.forEach(function (row) {
            row.addEventListener('click', handleRowSelection);
        });
    });

    function showNotification(message, isSuccess) {
    var notificationElement = document.getElementById('notification');
    notificationElement.textContent = message;

    if (isSuccess) {
        notificationElement.style.backgroundColor = 'lightgreen';
    } else {
        notificationElement.style.backgroundColor = 'coral';
    }

    // Add an "OK" button to the notification
    var okButton = document.createElement('button');
    okButton.textContent = 'OK';
    okButton.style.display = 'block';   // Make the button a block element
    okButton.style.margin = 'auto';     // Center the button horizontally
    okButton.style.marginTop = '10px';  // Add some top margin for spacing
    okButton.style.padding = '10px';
    okButton.style.height = '40px';     // Set the button height
    okButton.style.width = '80px';      // Set the button width
    okButton.style.border = 'none';     // Remove the default button border
    okButton.style.backgroundColor = 'orangered'; // Red background color
    okButton.style.color = 'white';     // White text color

    okButton.addEventListener('click', function() {
        // Redirect to the desired page
        window.location.href = '{% url "trace" %}';
    });

    notificationElement.appendChild(okButton);

    // Center the notification vertically and horizontally
    notificationElement.style.display = 'flex';
    notificationElement.style.flexDirection = 'column';
    notificationElement.style.alignItems = 'center';
    notificationElement.style.textAlign = 'center';
    notificationElement.style.justifyContent = 'center';
    notificationElement.style.top = '50%';
    notificationElement.style.left = '50%';
    notificationElement.style.transform = 'translate(-50%, -50%)';
    notificationElement.style.zIndex = '1000';

   
    // Display the notification
    notificationElement.style.display = 'block';
}

         </script>
    {% endblock %}    
        
        
    