{% extends 'app/layouts/main.html' %}
{% block title %}
Tracability
{% endblock title %}
{% block content %}
<style>
  
.box-0{
    width: 800px;
    height:50px;
    margin-left:380px ;
    margin-top: 50px;
    background-color: orange;
    border: 2px solid black;
    font-family:Arial, Helvetica, sans-serif
}

.box {
    width: 800px;
    height: 400px;
    margin-left:380px ;
    margin-top: -400px;
    background-color: white;
    border: 2px solid black;
}

.box-1 {
    width: 250px;
    height: 400px;
    margin-top:20px;
    margin-left: 100px;
    background-color: white;
    border: 2px solid black;
    padding-top: 50px;
    padding-left: 5px;
  }

.inner-box-1, .inner-box-2, .inner-box-3, .inner-box-4, .inner-box-5{
    width: 230px; 
    height: 50px;
    background-color:lightblue; 
    border: 2px solid black; 
    margin: 5px;
    padding-top: 10px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
  }

.item-1, .item-2, .item-3, .item-4, .item-5{
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s; 
  }

.item-0{
    background-color: aqua;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

#save-btn{
    background-color: green;
    color: white;
    height: 50px;
    width: 200px;
    margin-top: 20px;
    margin-left: 100px;
}

#delete-btn{
    background-color: red;
    color: white;
    height: 50px;
    width: 200px;
    margin-top: 20px;
    margin-left: 450px;
}

#cancel-btn{
    background-color: orange;
    color:black;
    margin-top: 15px;
    height: 50px;
    width: 200px;
    margin-left: 100px;  
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

</style>

<div class="box-0">
    <center style="color:black;text-shadow: 2px 2px 4px white;">
        <h1><b>Tracability</b></h1></center>
</div>

<div class="box-1">
    <div id="part" class="inner-box-1" onclick="enlargeItem(1),showItem('item-1')"><h4><b>Part</b></h4></div>
    <div id="batchNumber" class="inner-box-2" onclick="enlargeItem(2),showItem('item-2')"><h4><b>Batch Number</b></h4></div>
    <div id="machine" class="inner-box-3" onclick="enlargeItem(3),showItem('item-3')"><h4><b>Machine</b></h4></div>
    <div id="operator" class="inner-box-4" onclick="enlargeItem(4),showItem('item-4')"><h4><b>Operator</b></h4></div>
    <div id="vendorCode" class="inner-box-5" onclick="enlargeItem(5),showItem('item-5')"><h4><b>Vendor Code</b></h4></div>
</div>


<div class="box" id="boxContent" style="overflow-x: auto; overflow-y: auto;">
    <div class="item item-1">
        <table border="1">
            <thead>
                <tr>
                    <th style="width: 5%;">Sr.No</th>
                    <th style="width: 20%;">Part Name</th>
                    <th style="width: 20%;">Customer Name</th>
                    <th style="width: 20%;">Part Model</th>
                    <th style="width: 20%;">Part No</th>
                </tr>
            </thead>
            <tbody id="tableBody-1">
            </tbody>
        </table><br>
        <button onclick="addRow('item-1', 6)">Add New</button>
    </div>
</div>

    <div class="item item-2">
        <table border="1">
            <thead>
                <tr>
                    <th style="width: 5%;">Sr.No</th>
                    <th style="width: 20%;">Batch No</th>
                </tr>
            </thead>
            <tbody id="tableBody-2"></tbody>
        </table><br>
        <button onclick="addRow('item-2', 3)">Add New</button>
    </div>

    <div class="item item-3">
        <table border="1">
            <thead>
                <tr>
                    <th style="width: 5%;">Sr.No</th>
                    <th style="width: 20%;">Machine No</th>
                    <th style="width: 20%;">Machine Name</th>
                </tr>
            </thead>
            <tbody id="tableBody-3"></tbody>
        </table><br>
        <button onclick="addRow('item-3', 4)">Add New</button>
    </div>

    <div class="item item-4">
        <table border="1">
            <thead>
                <tr>
                    <th style="width: 5%;">Sr.No</th>
                    <th style="width: 20%;">Operator No</th>
                    <th style="width: 20%;">Operator Name</th>
                </tr>
            </thead>
            <tbody id="tableBody-4"></tbody>
        </table><br>
        <button onclick="addRow('item-4', 4)">Add New</button>
    </div>

    <div class="item item-5">
        <table border="1">
            <thead>
                <tr>
                    <th style="width: 5%;">Sr.No</th>
                    <th style="width: 25%;">Vendor Code</th>
                    <th style="width: 25%;">Email</th>
                </tr>
            </thead>
            <tbody id="tableBody-5"></tbody>
        </table><br>
        <button onclick="addRow('item-5', 4)">Add New</button>
    </div>
</div>

<button type="button" id="save-btn" onclick="saveData()"><b>Save</b></button>
<button type="button" id="delete-btn" onclick="deleteSelectedRows()"><b>Delete Selected</b></button>

<a href="{% url 'index' %}" >
    <button type="button" id="cancel-btn"><b>Cancel</b></button>
</a>

<script>

function enlargeItem(index) {
    document.querySelectorAll('.box-1 > div').forEach(function (el) {
        el.style.backgroundColor = ''; 
    });
    var clickedInnerBox = document.querySelector(`.box-1 .inner-box-${index}`);
    clickedInnerBox.style.backgroundColor = 'red';
}

function showItem(itemClassName) {
    var itemClasses = document.querySelectorAll('.item');
    itemClasses.forEach(function (item) {
        item.style.display = 'none';
    });

    var selectedItem = document.querySelector('.' + itemClassName);
    if (selectedItem) {
        selectedItem.style.display = 'block';
    }
}

var rowData = {};

window.onload = function () {
    rowData = loadData() || {};
    populateTables();
    showItem('item-1');
    document.querySelector('.box-1 .inner-box-1').style.backgroundColor='red';
};

function loadData() {
    var savedData = localStorage.getItem('tableData');
    return savedData ? JSON.parse(savedData) : {};
}


function saveData() {
    var tables = document.querySelectorAll('.item');
    tables.forEach((table, index) => {
        var tableBodyId = 'tableBody-' + (index + 1);
        var tableBody = table.querySelector('#' + tableBodyId);

        rowData[tableBodyId] = [];

        for (var i = 0; i < tableBody.rows.length; i++) {
            var row = tableBody.rows[i];
            var rowDataIndex = rowData[tableBodyId].findIndex(data => data.rowIndex === i + 1);
            if (rowDataIndex === -1) {
                rowData[tableBodyId].push({
                    rowIndex: i + 1,
                    values: []
                });
                rowDataIndex = rowData[tableBodyId].length - 1;
            }

            for (var j = 1; j < row.cells.length; j++) {
                var input = row.cells[j].querySelector('input');
                rowData[tableBodyId][rowDataIndex].values[j - 1] = input.value;
            }
        }
    });

    localStorage.setItem('tableData', JSON.stringify(rowData));
    console.log('Data saved:', rowData);
}

function addRow(itemClassName, numColumns) {
    var tableBodyId = 'tableBody-' + itemClassName.charAt(itemClassName.length - 1);
    var tableBody = document.querySelector('#' + tableBodyId);
    var newRow = tableBody.insertRow(tableBody.rows.length);

    var rowIndex = tableBody.rows.length;

    newRow.addEventListener('click', function(event) {
        var rows = tableBody.querySelectorAll('tr');
        rows.forEach(function(row) {
            row.style.backgroundColor = ''; // Reset background color for all rows
        });

        event.currentTarget.style.backgroundColor = 'yellow'; // Set background color for the clicked row

        var clickedRowIndex = event.currentTarget.cells[0].textContent; // Get the row index of the clicked row
        var clickedRowData = getRowData(tableBodyId, parseInt(clickedRowIndex)); // Retrieve data of the clicked row
        console.log('Selected Row Data:', clickedRowData);
    });

    

    var serialCell = newRow.insertCell(0);
    serialCell.textContent = rowIndex;

    for (var i = 1; i < numColumns - 1; i++) {
        var cell = newRow.insertCell(i);
        var input = document.createElement('input');
        input.type = 'text';
        input.style.width = '100%';
        input.style.padding = '0';
        input.style.border = 'none';
        input.style.outline = 'none';
        cell.appendChild(input);
    }
    

    if (!rowData[tableBodyId]) {
        rowData[tableBodyId] = [];
    }

    rowData[tableBodyId].push({
        rowIndex: rowIndex,
        values: []
    });

}

function getRowData(tableBodyId, rowIndex) {
    if (rowData[tableBodyId]) {
        var selectedRowData = rowData[tableBodyId].find(function(data) {
            return data.rowIndex === rowIndex;
        });
        return selectedRowData ? selectedRowData.values : null;
    }
    return null;
}

function populateTables() {
    var tables = document.querySelectorAll('.item');
    tables.forEach((table, index) => {
        var tableBodyId = 'tableBody-' + (index + 1);
        var tableBody = table.querySelector('#' + tableBodyId);

        if (rowData[tableBodyId]) {
            for (var i = 0; i < rowData[tableBodyId].length; i++) {
                var data = rowData[tableBodyId][i];
                var newRow = tableBody.insertRow(tableBody.rows.length);

                var serialCell = newRow.insertCell(0);
                serialCell.textContent = data.rowIndex;

                for (var j = 0; j < data.values.length; j++) {
                    var cell = newRow.insertCell(j + 1);
                    var input = document.createElement('input');
                    input.type = 'text';
                    input.style.width = '100%';
                    input.style.padding = '0';
                    input.style.border = 'none';
                    input.style.outline = 'none';
                    input.value = data.values[j];
                    cell.appendChild(input);
                }

                newRow.addEventListener('click', function(event) {
                    var rows = tableBody.querySelectorAll('tr');
                    rows.forEach(function(row) {
                        row.style.backgroundColor = ''; // Reset background color for all rows
                    });

                    event.currentTarget.style.backgroundColor = 'yellow'; // Set background color for the clicked row

                    var clickedRowIndex = event.currentTarget.cells[0].textContent; // Get the row index of the clicked row
                    var clickedRowData = getRowData(tableBodyId, parseInt(clickedRowIndex)); // Retrieve data of the clicked row
                    console.log('Selected Row Data:', clickedRowData);
                });
            }
        }
    });
}

populateTables(); 

// DELETE THE SELCTED ROW FROM THIS CODE::

function deleteSelectedRows() {
    var tables = document.querySelectorAll('.item');
    tables.forEach((table, index) => {
        var tableBodyId = 'tableBody-' + (index + 1);
        var tableBody = table.querySelector('#' + tableBodyId);
        var rowsToDelete = tableBody.querySelectorAll('tr');

        var rowsToAdd = [];

        rowsToDelete.forEach(function(row) {
            if (row.style.backgroundColor === 'yellow') {
                var rowIndex = row.cells[0].textContent; // Get the index of the row to be duplicated
                var rowDataIndex = rowData[tableBodyId].findIndex(data => data.rowIndex === parseInt(rowIndex));

                if (rowDataIndex > -1) {
                    var rowValues = rowData[tableBodyId][rowDataIndex].values;
                    tableBody.removeChild(row);                }
            }
        });

        
        });

    saveData();
}

</script>
{% endblock content %}

